@media only screen and (max-width:1023px) {}

@media only screen and (max-width : 1600px) {
	.one-third-block .item-news {
        height: 550px;
    }

    .article-preview__tag {
        height: 25.8px;
        width: 170px;
        font-size: 16px;
        line-height: 24px;
    }
}

/*


@media only screen and (max-width : 1200px)
@media only screen and (max-width : 992px)
@media only screen and (max-width : 768px)
@media only screen and (max-width : 480px)

*/
@media only screen and (max-width : 1400px) {
	.team-content-wrapper {
	    top: 120px;
	}
	.item-news {
	    height: 562px;
	    width: 100%;
	    margin-bottom: 120px;
	}
}
@media only screen and (max-width : 1280px) {
	
}
@media only screen and (max-width : 1200px) {
	.news .one-third-block-second {
	    margin-top: 35px;
	}

	.item-news {
	    height: 520px;
	    margin-bottom: 46px;
	}

	.body-service-news {
		overflow-y: hidden;
	}

	.article-preview__tag {
	    height: 30.8px;
	    width: 170px;
	    line-height: 28px;
	    font-size: 20px;
	}
}
@media only screen and (max-width : 1150px) {
	.news .service-menu__dash {
	    top: 9px;
	    left: -35px;
	    width: 24px;
	}
}

@media only screen and (max-width : 1024px) {
	.team-slider {
	    top: 400px;
	}

	.body-service-news {
		overflow-y: auto;
	}
}
@media only screen and (max-width : 1023px) {
	.header-control {
		display: block;
	}

	.owl-carousel.owl-loaded {
		display: block;
	}

	.team-menu {
	    margin-top: 27px;
	}

	
	.news .one-third-block-third.team-one-third-block .team-article-preview__h, .article-preview__h {
	    bottom: 15%;
	}

	.news .team-article-preview__date {
	    margin-bottom: 50px;
	}

	.news h1 {
		margin: 0 auto;
		text-align: center;
		margin-top: 77px;
	}

	.news .news-block-header {
		width: 100%;
	}

	.header-news .logo {
		display: block;
	}

	.header-news .nav-menu__text {
		color: #000;
	}

	.service-content-wrapper {
	    overflow: initial;
	}

	.one-third-block {
	    overflow: initial;
	}

	.news .one-third-block-second {
	    margin-top: 0;
	}

	.one-third-block-second a:first-child .team-article-preview:first-child {
	    margin-top: 0 !important;
	}

	.item-news {
	    margin-bottom: 0;
	    display: block;
	}

	.team-article-preview .article-preview__tag {
	    width: 150px;
	}

	.article-preview__tag {
	    font-size: 16px;
	    height: 30px;
	    line-height: 27px;
	}

	.body-service-news{
	    height: 100vh;
	}

	.news .team-content-wrapper {
	    top: 320px;
	    height: calc(100vh - 257px);
	}

	.team-article-preview__h {
	    font-size: 35px !important;
	}

	.news .team-article-preview__date {
	    margin-bottom: 10px;
	}

	.team-block-header {
	    font-size: 60px;
	}

	.news h1 span {
        font-size: 60px;
        float: none;
        line-height: .7;
    }

    .team-menu {
        margin-top: 27px;
    }

    .item-news {
        height: 696px;
        margin-bottom: 0;
    }

    .team-menu-mobile {
        margin-bottom: 9px;
        width: 50%;
        margin-left: 25%;
    }

    .news .team-content-wrapper {
        top: 320px;
        height: calc(100vh - 257px);
    }





    /*========================
     ===================================*/
	.team-content-wrapper {
	    position: static;
	    margin-bottom: 0;
	}

	.team-menu {
		
		overflow-x: hidden;
		height: auto;
		max-height: 100%;
	}

	.team-menu-mobile__item {
	    text-decoration: none;
	    opacity: 0.8;
	    font-family: 'Lato-Regular';
	    font-size: 18px;
	    line-height: 24px;
	    letter-spacing: 1.3px;
	    color: #dedede;
	}

	.news .owl-item.active a {
	    font-size: 24px;
	}





}

@media only screen and (max-width :768px) {

	.one-third-block {
        float: none;
        width: 100% !important;
    }

    .one-third-block .item-news {
        height: 750px;
    }

	.news .service-content-wrapper {
	    display: block !important;
	}

	.news .article-preview__h {
	    font-size: 40px !important;
	}

	.team-article-preview__date {
	    font-size: 18px !important;
	    bottom: 6%;
	}

	.article-preview__date {
	    font-size: 4vw;
	}

	.news .item a {
		display: block;
	}


	.news .team-article-preview {
	    height: 100% !important;
	}

	.article-preview__h {
	    bottom: 12%;
	}

	.team-article-preview .article-preview__tag {
	    margin-right: 30px;
	}


}

@media only screen and (max-width :680px) {
	.news .article-preview {
	    width: 100%;
	}

	

	.article-preview__date {
	    font-size: 20px;
	}

	.news .service-content-wrapper {
		width: 100%;
	}

	.body-service-news{
	    height: 100vh;
	}

	

	.article-preview__h {
	    font-size: 40px;
	}
}

@media only screen and (max-width : 480px) {
	.news h1 span {
		float: none;
		font-size: 42px;
	}

	.nav-menu__text {
	    font-size: 20px;
	}
		.service-nav-menu__text {
	    top: 33px;
	}

	.news .article-preview {
	    width: 100%;
	}


	.team-article-preview .article-preview__tag {
	    width: 127px;
	}

	.article-preview__tag {
	    font-size: 14px;
	    height: 25px;
	    line-height: 23px;
	}

	.news .owl-item.active a {
	    font-size: 21px;
	}

	.news .team-content-wrapper {
	   top: 227px;
	}

	.item-news {
	    height: 500px;
	}

	.news .team-menu {
	    margin-top: 0px;
	}

	.news .article-preview__h {
	    font-size: 24px;
	}

	.news .team-article-preview__date {
	    margin-bottom: 45px;
	}

	/**/
	.one-third-block .item-news {
        height: 480px;
    }

    .team-article-preview__date {
        font-size: 14px !important;
        bottom: 6%;
    }

    .news h1 span {
        float: none;
        font-size: 42px;
    }

    .news .article-preview__h {
	    font-size: 24px !important;
	    bottom: 16%;
	}

	.news .team-article-preview__date {
	    margin-bottom: 20px;
	}



}
