.one-third-block-third .team-article-preview{
	height: 100%;
	margin-top: 0;
}
.service-content-wrapper .one-third-block-second .team-article-preview,
.one-third-block-second a:first-child .team-article-preview{
	/*height: 70vh;*/
	height: 100%;
	margin-top: 0;
}

.one-third-block-second>a::before{
	content: '';
	/*position: static;*/
	display: block;
	height: 5%;
}

.team-one-third-block>a{
	height: 90vh;
    height: calc(100vh - 150px);
    display: block;
    position: relative;
}

.article-preview{
	/*position: static;*/
}

.address-main .address::after{
	content: "";
    position: absolute;
    width: 100%;
    /* width: 100%; */
    left: 0;
    height: 2px;
    background-color: #d2ab66;
    /* left: 25px; */
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: calc(100% + 10px) 0;
    transition: transform .35s ease-out;
}

.address-main{
	text-align: center;
}

.address-main h2,
.address-main .address{
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

.address-main .address{
	position: relative;
	display: inline-block;
}

.active h2{
	color: #d2ab66
}

.active .address::after{
	transform: scaleX(1);
    transform-origin: -10px 0;
}

.one-third-block-third a:first-child .team-article-preview{
	margin-top: 0;
}

.one-third-block-third.team-one-third-block .team-article-preview__h,
.article-preview__h{
	margin: 0;
	position: absolute;	
	bottom: 20%;
}

.team-content-item-order-btn{
	position: absolute;
}

.team-article-preview__date{
	bottom: 17%;
}

.nav__black{
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

.nav__black:hover{
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}


.main_page,
.main_page .wrapper{
	min-height: 600px;
}

.index-slider__prev:hover,
.index-slider__next:hover{
	background-image: url(../img/arrow-bot-yell.png);
}

.main_page canvas{
	transform-origin: right;
	z-index: 1;
	object-position: 11%;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
/*	top: 0 !important;
	left: 0 !important;
	-webkit-transform: scale(1,02, 1,02) !important;
	-ms-transform: scale(1,02, 1,02) !important;
	-o-transform: scale(1,02, 1,02) !important;
	transform: scale(1,02, 1,02) !important;*/
}

.index-sliding-fr__pic{
	opacity: 0;
}

.index-slider__next{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;	
}

.index-slider__prev, .index-slider__next{
	padding: 0;
	top: auto;
}

.opacity-true{
	z-index: 2;
}

.index-sliding-fr{
	z-index: 2;
}

.opacity-true .block-header,
.opacity-true .index-sliding-fr__text{
	-webkit-animation: appRight 1s ease;
	-o-animation: appRight 1s ease;
	animation: appRight 2s ease;
}

.opacity-false .block-header,
.opacity-false .index-sliding-fr__text{
	-webkit-animation: dissRight 1s ease;
	-o-animation: dissRight 1s ease;
	animation: dissRight 1s ease;
}

.hover_info{
	height: 100%;
	width: 100%;
	background-color: #fcfcfc;
	-webkit-transition: all ease .8s;
	-o-transition: all ease .8s;
	transition: all ease .8s;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	position: absolute;
	z-index: 100;
	text-align: center;
	padding: 47px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slideshow-right .hover_info{
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);	
}

.article-preview.info .hover_info{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.one-third-block .article-preview{
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
	max-height: 100%;
}

.one-third-block .item-news{
	height: 760px;
	max-height: calc(100vh - 230px);
}

.article-preview:hover{
	cursor: pointer;
	/*opacity: .9;*/
	-webkit-transform: scale(1.02, 1.02);
	-ms-transform: scale(1.02, 1.02);
	-o-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);
	/*transform-origin: center;*/
}

.change-pop-up .article-preview:hover{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.service-content-wrapper{
	z-index: -10;
}

.desktop-opened{
	z-index: 9;
}

.desktop-opacity{
	z-index: 10;
	display: block;
}

.hover_info__title{
	font-size: 36px;
	line-height: 46px;
	padding-bottom: 44px;
	margin: 0;
}

.hover_info__text{
	font-size: 24px;
	line-height: 36px;
	padding-bottom: 31px;
    font-family: 'Lato-Regular';
	/*padding: 0 47px 31px;*/
}

.hover_info__btn{
	max-width: 250px;
	font-size: 24px;
	display: inline-block;
	float: none;
}

.about-thanks{
	animation-fill-mode: none;
    transform: translateY(50%);
    bottom: 47vh;
    animation: none;
}

@keyframes dissRight {
	0% {  
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	 }
	100% {
		-webkit-transform: translateX(50px);
		-ms-transform: translateX(50px);
		-o-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	 }
}

@keyframes appRight {
	0%, 50% { 
		opacity: 0;
		-webkit-transform: translateX(50px);
		-ms-transform: translateX(50px);
		-o-transform: translateX(50px);
		transform: translateX(50px);
	 }
	100% { 
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	 }
}

/*.desktop-opacity{
	-webkit-animation: changing 1s ease;
	-o-animation: changing 1s ease;
	animation: changing 2s ease 1s;
}

@keyframes changing {
	0% {  
		transform: scale(.9, .9) translateX(-100%);
	}
	50%{
		transform: scale(.9, .9)
	}
	100% {  
		transform: none;
	}
}*/

.opacity-false{
	z-index: 2;
}

.index-sliding-frs .index-sliding-fr:nth-child(2){
	background-color: inherit;
}

.index-sliding-frs .index-sliding-fr:nth-child(2)::before{
	content: '';
	position: absolute;
	left: 67%;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #15191c;
}

.index-slider__dash{
	z-index: 3;
}

#canv_wr{
	position: absolute;
    top: 0;
    left: 0;
    right: 33%;
    overflow: hidden;
    bottom: 0;
    /*z-index: 100;*/
}

div.index-sliding-fr__pic{
	display: none;
}

.team-content-wrapper{
	transition: all ease .6s;
    height: 100vh;
    transform: translateX(100%);
}

.desktop-opacity{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.team-one-third-block{
	height: 100vh;
}

/*//widget*/

.widget_night_wrapper{
    background-color: #f6f6f6 !important;
}
#itc-widget-title,
#itc-widget-timer,
.widget_night_wrapper .cbk-link-btn{
    color: #000 !important;
}

#itc-widget-container .itc_form button{
    background-color: #d2ab66 !important;
    border-radius: 0 !important;
}

.widget_night_wrapper{
    width: 30% !important;
    min-width: 340px !important;
}

#itc-widget-wrapper .widget_night_wrapper a{
	color: #000 !important;
	opacity: 1 !important;
	-webkit-transition: all ease .4s !important;
	-o-transition: all ease .4s !important;
	transition: all ease .4s !important;
}

#itc-widget-wrapper .widget_night_wrapper a:hover{
	color: #d2ab66 !important;
}

/*.social__tel{
	display: none;
}*/

.main_page #itc-widget-btn{
	background: none !important;
	animation: none;
	right: auto !important;
	left: calc(1vw + 10px) !important;
	margin: 0 !important;
	bottom: 20px !important;
	width: 60px !important;
	height: 60px !important;
}

.main_page #itc-widget-btn:hover{
	background: none !important;
}

.main_page .itc_form select,
.itc_widget_tel{
	width: 90% !important;
}

.main_page .itc_form input,
.main_page .itc_form input:focus,
.main_page .itc_form input:hover{
	width: 100% !important;
	background-color: inherit !important;
	border-color: #d2ab66 !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: 1px solid #d2ab66;
	color: #d2ab66 !important;
	border-radius: 0 !important;
	padding-left: 0 !important;
}

.main_page .itc_form select{
	border-color: #d2ab66 !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: 1px solid #d2ab66;
	color: #d2ab66 !important;
	border-radius: 0 !important;
	background-color: inherit !important;
}

.main_page .left_close_arrow{
	display: none !important;
}

.main_page .itc_form select option{
	background-color: #fff !important;
	width: 100% !important;
}

select#itc-widget-code{
	display: none !important;
}

#canv_wr{
	z-index: -1;
}
/*//*/
.hover_info{
	padding: 20px 14%;
}
@media screen and (max-width: 1890px) {
	.one-third-block .item-news{
		height: 620px;
	}
	.hover_info{
		padding: 30px 14%;
	}
	.hover_info__text{
		font-size: 18px;
		line-height: 1.7;
	}
	.hover_info__title{
		font-size: 26px;
		line-height: 1.6;
		padding-bottom: 24px;
	}
}

@media screen and (max-width: 1320px) {
	.hover_info{
		padding: 20px 10px;
	}
	.hover_info__title{
		font-size: 24px;
	}
	.hover_info__text{
		font-size: 16px;
	}
}

@media screen and (max-width: 1366px) {
	.about-thanks{
	    bottom: 40vh;
	}
}

@media screen and (max-width: 1024px) {
	.one-third-block-second>a::before{
		display: none;
	}
	.service-content-wrapper .one-third-block-second .team-article-preview, .one-third-block-second a:first-child .team-article-preview,
	.one-third-block-third .team-article-preview,
	.service-content-wrapper .one-third-block-second a:first-child .team-article-preview{
		height: 95%;
		margin: 0;
	}
	.team-one-third-block>a{
		height: 85vh;
	}
	.one-third-block-third.team-one-third-block .team-article-preview__h, .article-preview__h{
		bottom: 24%;
	}
	#canv_wr{
		display: none;
	}
	.index-sliding-fr__pic{
		display: none;
	}
	div.index-sliding-fr__pic{
		display: block;
		opacity: 1;
	}
	.opacity-true{
		z-index: 1;
	}
	.index-slider{
		z-index: 2;
	}
	.article-preview:hover{
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.about-thanks{
	    transform: none;
	    bottom: auto;
	}
	.block-header-big, .main-frame1 .block-header, .main-frame2 .block-header{
		margin-top: 300px;
		font-size: 45px;
		bottom: 200px;
	}
	.one-third-block .item-news{
		max-height: initial;
	}
}

@media screen and (max-width: 767px){
	.team-article-preview{
		height: 100% !important;
	}
	.one-third-block-third .team-article-preview{
		margin: 0 !important;
	}
	.block-header-big, .main-frame1 .block-header, .main-frame2 .block-header{
		font-size: 30px;
		bottom: 150px;
    	margin-top: 250px;
	}
}

@media screen and (max-width: 415px){
	.block-header-big, .main-frame1 .block-header, .main-frame2 .block-header{
		/*margin-top: 200px;*/
		/*font-size: 29px;*/
	}
}





/*.popUp main, .popUp header{
	filter: blur(3px);
}
*/
.popUp .service-content-wrapper, .popUp header{
	filter: blur(3px);
}

/*=======================================================================================================
  =================================================FIX alex======================================================
  ======================================================================================================= */

.-disabled- {
	font-family: 'Lato-Regular' !important;
}

/*BTN*/
/*<div class="sim-button button8"><span>Записаться</span></div>*/
.button8{
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	
	position: relative;	
}
.button8 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button8 span{
	z-index: 2;	
	display: block;
	position: relative;
	width: 100%;
	height: 100%;	
}
.button8::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	z-index: 1;	
	background-color: #be9753;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

}
.button8:hover::before{
	width: 100%;
}
@media screen and (max-width: 1023px) {
	.button8:hover::before{
		content: none;
	}
}


/*logo*/
/*.active-pop-wrap:after {
	position: absolute;
	content: "";
	display: block;
	right: 0;
	top: 0;
	width: 23%;
	height: 100%;
	background-color: rgba(132, 95, 29, .2);
}
*/



/*.page-team-fun, .page-news {
    overflow-y: auto;
}*/

.service-header {
    padding: calc(2vw + 1px) 0 0 calc(2vw + 1px);
}




/*team btn*/

.page-team .nav__elem, .page-team .hover_info a{
	width: 250px;
    height: 54px;
    font-size: 24px;
    padding-top: 15px;
}
@media only screen and (max-width: 1366px) {
	.page-team .nav__elem, .page-team .hover_info a{
		width: 190px;
	    height: 44px;
	    font-size: 20px;
	    padding: 10px 10px 10px 10px;
	}
}
@media only screen and (max-width: 768px) {
	.page-team .nav__elem, .page-team .hover_info a{
		width: 250px;
	    height: 54px;
	    font-size: 24px;
	    padding-top: 15px;
	}
}

@media only screen and (max-width: 480px) {
	.page-team .nav__elem, .page-team .hover_info a{
		width: 190px;
	    height: 44px;
	    padding-top: 15px;
	    font-size: 18px;
	    letter-spacing: 1.8px;
  		padding: 14px 27px 14px 27px;
	}

}

/*page news*/

.page-news-fun .team-article-preview__date {
    bottom: 24px;
}

 .page-news-fun.page-team .one-third-block-third.team-one-third-block .team-article-preview__h,  .page-news-fun.page-team .article-preview__h {
    bottom: 51px;
    font-size: 46px;
}

.popup-main .contact-info path{
	fill: none;
}

.page-about-fu.body-info:before {
	content: none;
}

.map .nav__elem {
    line-height: 20px;
}

.page-news .team-block-header {
    width: 34vw;
}



/*service*/
.page-service-fu {
	
}

.page-service-fu .service-content tr td:last-child span:last-child {
	opacity: 1;
	color: #000;
	font-weight: bold;
}


.page-service-fu .service-menu {
    padding-top: 35px;
}

.page-service-fu .desktop-opacity.service-content-wrapper {
    max-height: initial;
}

.page-service-fu .table-popup {
	opacity: 0;
	display: none !important;
	color: #d2ab66 !important;
	transition: all .5s ease;
}

.page-service-fu .service-content tr td:last-child:hover  .table-popup{
	display: block !important;
	opacity: 1;
	transition: all .5s ease;
}


.page-service-fu .service-menu__dash:last-child.open-hover {
	opacity: 0;
}


.page-service-fu .service-content {
	bottom: 0;
	top: 0;
}


.slick-next, .slick-prev {
    display: none !important;
}

.service-menu__subheader p {
	transition: color .3s ease;
}

.service-menu__subheader p:hover {
	color: #d2ab66;
}

.dnager-text {
	font-family: "Lato-Regular";
}


.popup-main textarea:valid ~ label {
    top: 7px;
}

#canv_wr.canv_wr_info{
	right: 0;
}

#canv_wr.canv_wr_info canvas{
	width: 100% !important;
	height: 100% !important;
}


.image_inv{
	position: absolute;
	z-index: -100;
}

.amper{
	font-family: 'Lato-Regular';
}

#canv_wr_small{
	width: 100%;
    height: 100%;
    overflow: hidden;
}

#canv_wr_small canvas{
	width: 100% !important;
	height: 100% !important;	
}

.pic-n-text__pic{
	overflow: hidden;
}

@keyframes mymove {
    from {
    	/*transform: rotate(0deg);*/
    	transform: rotate(90deg), scale(2);
    }
    to {
    	/*transform: rotate(90deg);*/
    	transform: scale(.8);
    }
}

.ohx2 {
	animation-duration: .5s;
	animation-name: mymoveov;
}

@keyframes mymoveov {
    from {
    	/*transform: rotate(0deg);*/
    	transform: scale(.8);
    }
    to {
    	/*transform: rotate(90deg);*/
    	transform: rotate(90deg), scale(2);
    }
}

@media screen and (max-width: 1600px) {
	 .page-news-fun.page-team .one-third-block-third.team-one-third-block .team-article-preview__h,  .page-news-fun.page-team .article-preview__h {
	    bottom: 14%;
	    font-size: 46px;
	}

	.hover_info__btn {
	    font-size: 22px;
	}

	.hover_info__title {
	    font-size: 20px;
	}

	.page-team-fun .team-block-header,  .page-news .team-block-header{
	    margin-top: calc(105.48px + 2.5vw);
	}

	.page-team-fun .team-slider, .page-news .team-slider {
	    top: 417px;
	}

	.page-news .team-block-header {
	    width: 36vw;
	}
}

@media screen and (max-width: 1366px) {
	 .page-news-fun.page-team .one-third-block-third.team-one-third-block .team-article-preview__h,  .page-news-fun.page-team .article-preview__h {
	    bottom: 14%;
	    font-size: 46px;
	}

	.page-news-fun .team-article-preview__date {
	    font-size: 20px !important;
	}

	.page-news-fun.page-team .article-preview__h {
	    font-size: 43px;
	}



}

@media screen and (max-width: 1200px) {
	.hover_info__btn {
	    font-size: 18px;
	    max-width: 170px;
	}

	.body-service-fu .index-slider__prev, .body-service-fu .index-slider__next {
	    height: 30px;
	}

	.body-service-fu .index-slider {
	    width: 30px;
	    height: 170px;
	}
}

@media screen and (max-width: 1024px) {
	.page-team-fun .team-block-header, .page-news .team-block-header {
	    margin-top: calc(105.48px + 4.5vw);
	}

}

@media screen and (max-width: 1023px) {
	.nav__elem::after {
		content: none;
	}
	.nav-menu__text {
	    padding-top: 18px !important;
	}

	 .page-news-fun .team-article-preview__date {
	    bottom: 0%;
	}

	.menu-popup__btn, .menu-popup__btn.envoke-order-btn {
	    padding-top: 14px;
	    padding-right: 28px;
	    padding-bottom: 11px;
	    padding-left: 28px;
	}

	.body-service-fu {
		overflow-y: hidden;
	}

    .page-service-fu .table-popup {
		text-align: right;
	    padding-right: 28px;
	    font-size: 16px;
	}

	.page-service-fu .service-content tr td:last-child:hover  .table-popup{
		display: none !important;
		opacity: 0;
		transition: all .5s ease;
	}

	/*.page-service-fu .service-menu__dash:last-child {
	    position: absolute;
	    float: right;
	    margin: 0 0 0 15px;
	    padding: 0;
	    top: 50%;
	    right: 20px;
	    left: auto;
	    opacity: 1;
	    transform: rotate(90deg);
	    -webkit-transition: all ease .4s;
	    -o-transition: all ease .4s;
	    transition: all ease .4s;
	}*/
	/*.page-service-fu .minus .service-menu__dash:last-child{
		opacity: 0;
	}*/
	.service-menu__dash:nth-last-child(2){
	    opacity: 0;
	}

	.service-menu__dash:last-child{
	    position: absolute;
	    width: 24px;
	    height: 24px;
	    cursor: pointer;
	    right: 20px;
	    top: 50%;
	    left: auto;
	    border: none;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
	}

	.service-menu__dash:last-child::after,
	.service-menu__dash:last-child::before{
	    content: "";
	    position: absolute;
	    background-color: #333;
	    transition: transform 300ms cubic-bezier(0.4, 0, 0.4, 1);
	}

	.service-menu__dash:last-child::after{
	    top: 50%;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    margin-top: -1px;
	}

	.service-menu__dash:last-child::before{
	    top: 0;
	    left: 50%;
	    width: 2px;
	    height: 100%;
	    margin-left: -1px;
	}

	.minus .service-menu__dash:last-child::after{
	    transform: rotate(180deg);
	}

	.minus .service-menu__dash:last-child::before{
	    transform: rotate(270deg);
	}

	.a-tan {
	    color: #fff;
	}

	.service-nav-menu__text {
	    top: 40px;
	}

	.service-block-header {
	    margin-top: 77px;
	}

	.page-news-fun .team-menu-mobile .active a {
	    font-size: 28px;
	}

	.page-news-fun .team-article-preview__date {
	    font-size: 24px !important;
	    bottom: -3%;
	}

	.service-menu__subheader p:hover {
		color: inherit;
	}

	.page-team-fun .team-block-header, .page-news .team-block-header {
	    margin-top: 77px;
	}

	.main_page .envoke-order-btn {
	    padding: 12px 20px 9px;
	}
}




@media screen and (max-width: 1024px) {
	.index-sliding-frs .index-sliding-fr:nth-child(2)::before {
	    left: 66%;
	}

	.index-slider__prev:hover {
	    transform: scaleY(-1);
	}

	.index-slider__next:hover {
	    transform: scale(1);
	}

	.index-slider {
	    z-index: 19;
	}

	.menu-popup {
	    padding-top: 16vh;
	}

	.white-tem .index-slider__prev, .white-tem  .index-slider__next {
	    background-image: url(../img/arrow-bot_white.png);
	}

	.white-tem .index-slider__dash {
	    background-color: #fff;
	}

	.white-tem.index-slider-counter .index-slider-counter-num{
		color: #fff;
	}

	.white-tem.index-slider-counter .index-slider-counter__dash {
	    background-color: #fff;
	}

	.index-sliding-fr__text {
	    padding-right: 25px;
	    padding-left: 25px;
	}

	.copyright.white-tem .copyright__iteria{
		color: #fff;
	}

	.copyright.white-tem  .a-black {
		color: #fff;	
	}

	.hover_info__title {
	    font-size: 22px;
	    line-height: 1.4;
	}



}

@media screen and (max-width: 768px) {
	.other-page-info .envoke-order-btn{
    	padding: 12px 20px 9px;
	}


	.logo {
	    margin-left: 10px !important;
	    margin-top: 10px !important;
	}

	.nav-menu__text {
	    padding-top: 12px !important;
	}


	.page-news-fun.page-team .one-third-block {
   		float: left;
	}

	.page-team .one-third-block {
   		float: left;
	}

	.page-news .team-block-header {
	    width: 100%;
	}

	.page-service-fu .service-content tr td:last-child span:last-child {
	    display: initial;
	}

	.pageserv-html {
		overflow: hidden;
	}

	.page-service-fu .service-content-wrapper {
		width: 100%;
	}

	.page-service-fu .service-menu__subheader {
	    padding-left: 14px;
	    padding-right: 14px;
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	}

	.slider-style .article-preview__tag {
	    height: 34px;
	    width: 170px;
	    font-size: 16px;
	    line-height: 34px;
	}
	.section-alike__block-header .block-header__elem:nth-child(2) {
	    padding-left: 0;
	    z-index: 3;
	}

	.service-nav-menu__text {
	    top: 32px;
	}

	.service-block-header {
	    font-size: 50px;
	}

	.page-service-fu .service-menu {
	    padding-top: 30px;
	}

	.page-news-fun .team-article-preview__date {
	    bottom: 0%;
	}

	.page-news .team-article-preview__h {
	    font-size: 47px !important;
	}

	.hover_info__title {
	    font-size: 35px;
	}

	.page-team .hover_info__btn.nav__elem {
	    letter-spacing: 1.2px;
	    padding: 10px 25px 10px 24px;
	}

	.page-other .slider-style .article-preview__tag {
	    height: 40px;
	    width: 210px;
	    font-size: 24px;
	}

	.page-news .article-preview__tag {
	    height: 34.8px;
	    width: 200px;
	    line-height: 30px !important;
	    font-size: 21px;
	}

	.page-other .section-main .nav__elem {
	    width: 190px;
	    height: 45px;
	}


}



/*new index*/

@media only screen and (max-width: 480px) {
	
	.about .group_text label {
	    top: 78px;
	}
	.nav-menu__text {
	    padding-top: 0px !important;
	}

	.page-service-fu .service-block-header {
	    margin-top: 77px;
	}

	.service-nav-menu__text {
	    top: 29px;
	}

	.page-service-fu .service-menu__subheader {
	    padding-left: 14px;
	    padding-right: 14px;
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	}

	.about-main-screen {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.about-thanks {
	    padding-top: 0px;
	    transform: translateY(-50%);
	}

	.index-sliding-fr__h-w {
		max-width: 100%;
		height: auto;
		padding-bottom: 20px;
	}


	.index-sliding-fr__text{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;

/* 	.page-team .hover_info__btn.nav__elem {
	    letter-spacing: 1.2px;
	    padding: 13px 20px 9px;
	}

	.hover_info__btn {
	    max-width: 177px;
	}

	.block-header {
	    font-size: 50px; */
	}

	/*.block-header {
	    font-size: 50px;
	}*/

	.slider-style .article-preview__tag {
	    height: 25px;
	    width: 127px;
	    font-size: 16px;
	    line-height: 25px;
	}
	.page-service-fu .service-menu {
	    padding-top: 11px;
	}

	.page-news-fun .team-article-preview__date {
	    font-size: 14px !important;
	    bottom: -3%;
	}

	.page-news-fun.page-team h1 {
	    margin-top: 93px;
	}

	.page-news .team-article-preview__h {
	    font-size: 37px !important;
	}

	.page-other .slider-style .article-preview__tag {
	    height: 25px;
	    width: 147px;
	    font-size: 14px;
	}

	.page-news .article-preview__tag {
	    height: 24px;
	    width: 170px;
	    line-height: 20px !important;
	    font-size: 18px;
	}

}

@media only screen and (max-width: 375px) {

	.about-btn .nav__elem {

	    line-height: 46px;
	}
	.index-sliding-fr__text {
	    max-width: 90%;
	}

	.index-sliding-fr__h-w {
	    top: 18vh;
	}

	.nav-menu__text {
	    font-size: 20px;
	}

	.service-block-header {
	    font-size: 42px;
	}

	.page-service-fu .service-menu {
	    padding-top: 11px;
	}

	

	.mobile-title {
	    padding-bottom: 20px;
	}

	.map .nav__elem {
	    bottom: 33px;
	}

	.page-news .team-article-preview__h {
	    font-size: 24px !important;
	}

	.page-news .article-preview__tag {
	    height: 25px;
	    width: 170px;
	    line-height: 24px !important;
	    font-size: 14px;
	}
}

@media only screen and (max-width: 374px) {
	.about-main-screen {
	    display: block;
	}
} 



.ymaps-2-1-69-map-copyrights-promo, .ymaps-2-1-69-zoom {
	display: none !important;
}