.one-third-block-third .team-article-preview{
	height: 100%;
	margin-top: 0;
}
.service-content-wrapper .one-third-block-second .team-article-preview,
.one-third-block-second a:first-child .team-article-preview{
	/*height: 70vh;*/
	height: 100%;
	margin-top: 0;
}

.one-third-block-second>a::before{
	content: '';
	/*position: static;*/
	display: block;
	height: 5%;
}

.team-one-third-block>a{
	height: 90vh;
    height: calc(100vh - 150px);
    display: block;
    position: relative;
}


.address-main .address::after{
	content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 2px;
    background-color: #d2ab66;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: calc(100% + 10px) 0;
    transition: transform .35s ease-out;
}

.address-main{
	text-align: center;
}

.address-main h2,
.address-main .address{
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
}

.address-main .address{
	position: relative;
	display: inline-block;
}

.active h2{
	color: #d2ab66
}

.active .address::after{
	transform: scaleX(1);
    transform-origin: -10px 0;
}

.one-third-block-third a:first-child .team-article-preview{
	margin-top: 0;
}

.one-third-block-third.team-one-third-block .team-article-preview__h,
.article-preview__h{
	margin: 0;
	position: absolute;	
	bottom: 20%;
}

.team-content-item-order-btn{
	position: absolute;
}

.team-article-preview__date{
	bottom: 17%;
}

.nav__black{
	text-shadow: none;
}

.nav__black:hover{
	text-shadow: none;
}

.white .nav__black{
	color: #fff;
}

.main_page,
.main_page .wrapper{
	min-height: 600px;
}

.index-slider__prev:hover,
.index-slider__next:hover{
	background-image: url(../img/arrow-bot-yell.png);
}

.main_page canvas{
	transform-origin: right;
	z-index: 1;
	object-position: 11%;
	width: 110%;
	height: 110%;
	top: -5%;
	left: -5%;
}

.index-sliding-fr__pic{
	opacity: 0;
}

.index-slider__next{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;	
}

.index-slider__prev, .index-slider__next{
	padding: 0;
	top: auto;
}

.opacity-true{
	z-index: 2;
}

.index-sliding-fr{
	z-index: 2;
}

.opacity-true .block-header,
.opacity-true .index-sliding-fr__text{
	-webkit-animation: appRight 1s ease;
	-o-animation: appRight 1s ease;
	animation: appRight 2s ease;
}

.opacity-false .block-header,
.opacity-false .index-sliding-fr__text{
	-webkit-animation: dissRight 1s ease;
	-o-animation: dissRight 1s ease;
	animation: dissRight 1s ease;
}

.hover_info{
	height: 100%;
	width: 100%;
	background-color: #fcfcfc;
	-webkit-transition: all ease .8s;
	-o-transition: all ease .8s;
	transition: all ease .8s;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	position: absolute;
	z-index: 100;
	text-align: center;
	padding: 47px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.slideshow-right .hover_info{
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);	
}

.article-preview.info .hover_info{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.one-third-block .article-preview{
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
	max-height: 100%;
}

.one-third-block .item-news{
	height: 760px;
	max-height: calc(100vh - 220px);
}

.article-preview:hover{
	cursor: pointer;
	-webkit-transform: scale(1.02, 1.02);
	-ms-transform: scale(1.02, 1.02);
	-o-transform: scale(1.02, 1.02);
	transform: scale(1.02, 1.02);
}

.change-pop-up .article-preview:hover{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.service-content-wrapper{
	z-index: -10;
}

.desktop-opened{
	z-index: 9;
}

.desktop-opacity{
	z-index: 10;
	display: block;
}

.hover_info__title{
	font-size: 36px;
	line-height: 46px;
	padding-bottom: 44px;
	margin: 0;
}

.hover_info__text{
	font-size: 24px;
	line-height: 36px;
	padding-bottom: 31px;
    font-family: 'Lato-Regular';
}

.hover_info__btn{
	max-width: 250px;
	font-size: 24px;
	display: inline-block;
	float: none;
}

.about-thanks{
	animation-fill-mode: none;
    transform: translateY(50%);
    bottom: 47vh;
    animation: none;
}

@keyframes dissRight {
	0% {  
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	 }
	100% {
		-webkit-transform: translateX(50px);
		-ms-transform: translateX(50px);
		-o-transform: translateX(50px);
		transform: translateX(50px);
		opacity: 0;
	 }
}

@keyframes appRight {
	0%, 50% { 
		opacity: 0;
		-webkit-transform: translateX(50px);
		-ms-transform: translateX(50px);
		-o-transform: translateX(50px);
		transform: translateX(50px);
	 }
	100% { 
		opacity: 1;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	 }
}

.opacity-false {
	z-index: 2;
}

.index-sliding-frs .index-sliding-fr:nth-child(2){
	background-color: inherit;
}

.index-sliding-frs .index-sliding-fr:nth-child(2)::before{
	content: '';
	position: absolute;
	left: 67%;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: #15191c;
}

.index-slider__dash{
	z-index: 3;
}

#canv_wr{
	position: absolute;
    top: 0;
    left: 0;
    right: 33%;
    overflow: hidden;
    bottom: 0;
}

div.index-sliding-fr__pic{
	display: none;
}

.team-content-wrapper{
	transition: all ease .6s;
    height: 100vh;
    transform: translateX(100%);
}

.desktop-opacity{
	-webkit-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.team-one-third-block{
	height: 100vh;
}

.widget_night_wrapper{
    background-color: #f6f6f6 !important;
}
#itc-widget-title,
#itc-widget-timer,
.widget_night_wrapper .cbk-link-btn{
    color: #000 !important;
}

#itc-widget-container .itc_form button{
    background-color: #d2ab66 !important;
    border-radius: 0 !important;
}

.widget_night_wrapper{
    width: 30% !important;
    min-width: 340px !important;
}

#itc-widget-wrapper .widget_night_wrapper a{
	color: #000 !important;
	opacity: 1 !important;
	-webkit-transition: all ease .4s !important;
	-o-transition: all ease .4s !important;
	transition: all ease .4s !important;
}

#itc-widget-wrapper .widget_night_wrapper a:hover{
	color: #d2ab66 !important;
}

.main_page #itc-widget-btn{
	background: none !important;
	animation: none;
	right: auto !important;
	left: calc(1vw + 10px) !important;
	margin: 0 !important;
	bottom: 20px !important;
	width: 60px !important;
	height: 60px !important;
}

.main_page #itc-widget-btn:hover{
	background: none !important;
}

.main_page .itc_form select,
.itc_widget_tel{
	width: 90% !important;
}

.main_page .itc_form input,
.main_page .itc_form input:focus,
.main_page .itc_form input:hover{
	width: 100% !important;
	background-color: inherit !important;
	border-color: #d2ab66 !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: 1px solid #d2ab66;
	color: #d2ab66 !important;
	border-radius: 0 !important;
	padding-left: 0 !important;
}

.main_page .itc_form select{
	border-color: #d2ab66 !important;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: 1px solid #d2ab66;
	color: #d2ab66 !important;
	border-radius: 0 !important;
	background-color: inherit !important;
}

.main_page .left_close_arrow{
	display: none !important;
}

.main_page .itc_form select option{
	background-color: #fff !important;
	width: 100% !important;
}

select#itc-widget-code{
	display: none !important;
}

#canv_wr{
	z-index: -1;
}

.hover_info{
	padding: 20px 14%;
}
@media screen and (max-width: 1890px) {
	
	.hover_info{
		padding: 30px 14%;
	}
	.hover_info__text{
		font-size: 18px;
		line-height: 1.7;
	}
	.hover_info__title{
		font-size: 26px;
		line-height: 1.6;
		padding-bottom: 24px;
	}
}

@media screen and (max-width: 1320px) {
	.hover_info{
		padding: 20px 10px;
	}
	.hover_info__title{
		font-size: 24px;
	}
	.hover_info__text{
		font-size: 16px;
	}
}

@media screen and (max-width: 1366px) {
	.about-thanks{
	    bottom: 40vh;
	}

	
}

@media screen and (max-width: 1024px) {
	.one-third-block-second>a::before{
		display: none;
	}
	.service-content-wrapper .one-third-block-second .team-article-preview, .one-third-block-second a:first-child .team-article-preview,
	.one-third-block-third .team-article-preview,
	.service-content-wrapper .one-third-block-second a:first-child .team-article-preview{
		height: 95%;
		margin: 0;
	}
	.team-one-third-block>a{
		height: 85vh;
	}
	.one-third-block-third.team-one-third-block .team-article-preview__h, .article-preview__h{
		bottom: 24%;
	}
	#canv_wr{
		display: none;
	}
	.index-sliding-fr__pic{
		display: none;
	}
	div.index-sliding-fr__pic{
		display: block;
		opacity: 1;
	}
	.opacity-true{
		z-index: 1;
	}
	.index-slider{
		z-index: 2;
	}
	.article-preview:hover{
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.about-thanks{
	    transform: none;
	    bottom: auto;
	}
	.block-header-big, .main-frame1 .block-header, .main-frame2 .block-header{
		margin-top: 300px;
		font-size: 45px;
		bottom: 200px;
	}
	.one-third-block .item-news{
		max-height: initial;
	}
}

@media screen and (max-width: 767px){
	.team-article-preview{
		height: 100% !important;
	}
	.one-third-block-third .team-article-preview{
		margin: 0 !important;
	}
	.block-header-big, .main-frame1 .block-header, .main-frame2 .block-header{
		font-size: 30px;
		bottom: 150px;
    	margin-top: 272px;
	}
}

@media screen and (max-width: 415px){
	.block-header-big, .main-frame1 .block-header, .main-frame2 .block-header{
		/*margin-top: 200px;*/
		/*font-size: 29px;*/
	}
}



.popUp .service-content-wrapper, .popUp header, .popUp .main, .popUp .wrapper, .popUp .main-frame{
	filter: blur(3px);
}

/*=======================================================================================================
  =================================================FIX alex======================================================
  ======================================================================================================= */
.active-page {
	color: #d2ab66;
	position: relative;
}

.active-page:before {
	content: "";
	height: 2px;
	background-color: #d2ab66;
	width: 20%;
	position: absolute;
	left: 0;
	margin-top: 2px;
	top: 50%;
}

.hover_info__title {
	font-family: "PlayfairDisplay-Bold";
}

.page-other .section-main .nav__elem {
    width: 250px;
    height: 67px;
    font-size: 24px;
    line-height: 44px;
}

.header {
	padding-top: 34px !important;
	padding-left: 34px !important;
}
.nav-menu__text {
    top: 33px;
}


.page-other .article-preview__tag {
	line-height: 37px;
}
@media only screen and (max-width : 1280px) {
	.header {
	    padding-top: 15px !important;
	    padding-left: 15px !important;
	}
}

@media only screen and (max-width : 1023px) {
   .header {
        padding: 24px 24px 0 24px !important;
    }
    .pos-r {
	position: relative;
}

    .index-slider__prev:hover, .index-slider__next:hover {
	    background-image: url(../img/arrow-bot_white.png);
	}

    .service-nav-menu__text {
	    right: 0px;
	}

	.logo, .logo-white  {
		margin: 0 !important;
	}

	.nav-menu__text {
	    padding-right: 24px;
	    padding-top: 0 !important;
	    top: 48px;
	}
} 

@media only screen and (max-width: 767px) {
	.logo, .logo-white  {
	    width: 120px;
	    height: 70.32px;
	}
}

@media only screen and (max-width: 480px) {
	.logo, .logo-white  {
	    width: 90px;
	    height: 52.74px;
	}

	.nav-menu__text {
	    top: 37px;
	}

}





.menu-popup {
    z-index: 60000;
}

.-disabled- {
	font-family: 'Lato-Regular' !important;
}



/*page news*/
.page-news-fun .team-article-preview__date {
    bottom: 24px;
}

.page-news-fun .team-menu .article-preview__h {
    bottom: 51px;
    font-size: 46px;
}

.popup-main .contact-info path{
	fill: none;
}

.page-about-fu.body-info:before {
	content: none;
}

.map .nav__elem {
    line-height: 20px;
}

.page-news .team-block-header {
    width: 30vw;
}


.page-service-fu .service-content tr td:last-child span:last-child {
	opacity: 1;
	color: #000;
	/*font-weight: bold;*/
}

.page-service-fu .service-menu {
    padding-top: 35px;
}

.page-service-fu .desktop-opacity.service-content-wrapper {
    max-height: initial;
}

.page-service-fu .table-popup {
	opacity: 0;
	display: none !important;
	color: #d2ab66 !important;
	transition: all .5s ease;
}

.page-service-fu .service-content tr td:last-child:hover  .table-popup{
	display: block !important;
	opacity: 1;
	transition: all .5s ease;
}

.page-service-fu .service-menu__dash:last-child.open-hover {
	opacity: 0;
}

.page-service-fu .service-content {
	bottom: 0;
	top: 0;
}

.slick-next, .slick-prev {
    display: none !important;
}

.service-menu__subheader p {
	transition: color .3s ease;
}

.service-menu__subheader p:hover {
	color: #d2ab66;
}

.dnager-text {
	font-family: "Lato-Regular";
}

.popup-main textarea:valid ~ label {
    top: 7px;
}

#canv_wr.canv_wr_info{
	right: 0;
}

#canv_wr.canv_wr_info canvas{
	width: 100% !important;
	height: 100% !important;
}

.image_inv{
	position: absolute;
	z-index: -100;
}

.amper{
	font-family: 'Lato-Regular';
}

#canv_wr_small{
	width: 100%;
    height: 100%;
    overflow: hidden;
}

#canv_wr_small canvas{
	width: 100% !important;
	height: 100% !important;	
}

.pic-n-text__pic{
	overflow: hidden;
}

/*footer-other*/
.footer-other-page {
	z-index: 50000;
}

.footer-other-page  .copyright {
    width: 31.5vw;
    bottom: calc(calc(calc(100vw - 1024px) * 0.017) + 8px);
    right: 0;
    left: 20px;
    text-align: right;
}

.body-service-fu .service-menu {
    margin-top: 100px;
    padding-top: 0;
    height: calc(88vh - 455.48px);
}

.service-menu__header {
    font-size: 26px;
    top: calc(4vh + 260px);
}

.body-service-fu .social__insta {
	margin-right: 20px;
}

.page-about-fu .footer-other-page {
    height: 100px;
}

.page-about-fu .social {
    position: absolute;
    left: 0;
    bottom: 0;
}


.page-about-fu .footer {
    width: 66.66%;
}

.page-about-fu .copyright {
    width: 98%;
    text-align: right;
}

.footer-other-page .copyright-info {
    font-size: 17px;
}

.page-team-fun .footer-other-page, .page-news-fun .footer-other-page, .page-about-fu .footer-other-page{
    z-index: 50;
}


@media screen and (max-width: 1600px) {
	.footer-other-page .social__insta, .footer-other-page .social__tel {
        width: 45px;
        height: 45px;
    }

    .article-preview__tag {
	    height: 25.8px;
	    width: 170px;
	    font-size: 16px;
	    line-height: 24px;
	}

    .page-about-fu .footer-other-page .copyright {
	    left: 10px;
	}

	.footer-other-page .social {
		height: 125px;
	}
    
	

	.hover_info__btn {
	    font-size: 22px;
	}

	.hover_info__title {
	    font-size: 20px;
	}

	.page-team-fun .team-block-header,  .page-news .team-block-header{
	    margin-top: calc(105.48px + 2.5vw);
	}

	.page-team-fun .team-slider, .page-news .team-slider {
	    top: 417px;
	}

	

}
@media screen and (max-width: 1400px) {
	.footer-other-page .social__insta, .footer-other-page .social__tel {
        width: 50px;
        height: 50px;
    }

    .page-news .team-block-header {
	    width: 32.5vw;
	}
}
@media screen and (max-width: 1366px) {
	.footer-other-page .copyright-info {
	    font-size: 13px;
	    left: 10px;
	}

	.about-btn {
	    height: 44px;
	}

	.footer-other-page .social {
		height: 115px;
	}

	.footer-other-page .social__insta, .footer-other-page .social__tel {
        width: 40px;
        height: 40px;
    }

	.page-news-fun .team-menu .article-preview__h {
	    bottom: 12%;
	    font-size: 46px;
	}

	.page-news-fun .team-article-preview__date {
	    font-size: 20px !important;
	}

	.page-news-fun.page-team .article-preview__h {
	    font-size: 43px;
	}

	.body-service-fu .service-menu {
	    height: calc(94vh - 455.48px);
	}
}
@media screen and (max-width: 1280px) {
	.team-block-header {
	    font-size: 90px;
	}

	.team-menu {
	    margin-top: 50px;
	}

	.team-block-header {
    font-size: 75px;
}

	
}
@media screen and (max-width: 1200px) {
	.hover_info__btn {
	    font-size: 18px;
	    max-width: 170px;
	}



	.body-service-fu .index-slider__prev, .body-service-fu .index-slider__next {
	    height: 30px;
	}

	.body-service-fu .index-slider {
	    width: 30px;
	    height: 170px;
	}

	.footer-other-page .a-tan {
	    font-size: 13px;
	}

}
@media screen and (max-width: 1120px) {
	.page-team-fun .footer-other-page .copyright,  .page-news .footer-other-page .copyright{
	    left: 10px;
	}

	.footer-other-page .a-tan {
	    font-size: 12px;
	}

	.footer-other-page .social {
	    height: 108px;
	}
}

@media screen and (max-width: 1024px) {
	.page-team-fun .team-block-header, .page-news .team-block-header {
	    margin-top: calc(105.48px + 4.5vw);
	}

	
	.index-sliding-frs .index-sliding-fr:nth-child(2)::before {
	    left: 66%;
	}

	.index-slider__prev:hover {
	    transform: scaleY(-1);
	}

	.index-slider__next:hover {
	    transform: scale(1);
	}

	.index-slider {
	    z-index: 19;
	}

	.menu-popup {
	    padding-top: 16vh;
	}

	.white-tem .index-slider__prev, .white-tem  .index-slider__next {
	    background-image: url(../img/arrow-bot_white.png);
	}

	.white-tem .index-slider__dash {
	    background-color: #fff;
	}

	.white-tem.index-slider-counter .index-slider-counter-num{
		color: #fff;
	}

	.white-tem.index-slider-counter .index-slider-counter__dash {
	    background-color: #fff;
	}

	.index-sliding-fr__text {
	    padding-right: 25px;
	    padding-left: 25px;
	}

	.copyright.white-tem .copyright__iteria{
		color: #fff;
	}

	.copyright.white-tem  .a-black {
		color: #fff;	
	}

	.hover_info__title {
	    font-size: 22px;
	    line-height: 1.4;
	}

}

@media screen and (max-width: 1023px) {




	/**/
		.page-other .section-main .nav__elem  {
		margin: 35px 0 55px 50vw;
	}

	

	.section-main__vid {
		margin-bottom: 20px;
	}




	/**/

	.menu-popup .nav__elem {
	    font-size: 24px;
	    width: 250px;
	    height: 67px;
	}

	.page-about-fu .footer {
	    width: 100%;
	}

	.page-about-fu .copyright {
	    width: 100%;
	}
	.service-menu__subheader p:hover {
		color: initial;
	}

	.page-team-fun .footer-other-page .copyright, .page-news .footer-other-page .copyright {
	    left: 0px;
	}

	.footer-other-page .a-tan {
	    font-size: 13px;
	}

	.footer-other-page .social__insta, .footer-other-page .social__tel {
        width: 50px;
        height: 50px;
    }

	.footer-other-page .copyright {
	    text-align: center;
	    left: 0;
	    width: 100%;
	}

	.footer-other-page .social {
	    height: 62px;
	}
	
	.body-service-fu .footer-other-page .social {
	    margin: 25px 0 0 50%;
	    height: 67px;
	}

	.page-about-fu .footer-other-page {
	    height: 154px;
	    margin-top: 67px;
	}

	.page-about-fu .social {
	    position: static;
	}

	.body-service-fu .service-menu {
	    height: calc(100vh - 355.48px);
	    margin-top: 20px;
	}

	.nav__elem::after {
		content: none;
	}


	.page-news-fun .team-article-preview__date {
	    bottom: 0%;
	}

	.menu-popup__btn, .menu-popup__btn.envoke-order-btn {
	    padding-top: 21px;
	    padding-right: 28px;
	    padding-bottom: 11px;
	    padding-left: 28px;
	}

	.map .nav__elem  {
		padding: 14px 28px;
	}

	.body-service-fu {
		overflow-y: hidden;
	}

    .page-service-fu .table-popup {
		text-align: right;
	    padding-right: 28px;
	    font-size: 16px;
	}

	.page-service-fu .service-content tr td:last-child:hover  .table-popup{
		display: none !important;
		opacity: 0;
		transition: all .5s ease;
	}

	.service-menu__dash:nth-last-child(2){
	    opacity: 0;
	}

	.service-menu__dash:last-child{
	    position: absolute;
	    width: 24px;
	    height: 24px;
	    cursor: pointer;
	    right: 20px;
	    top: 50%;
	    left: auto;
	    border: none;
	    -webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%);
	}

	.service-menu__dash:last-child::after,
	.service-menu__dash:last-child::before{
	    content: "";
	    position: absolute;
	    background-color: #333;
	    transition: transform 300ms cubic-bezier(0.4, 0, 0.4, 1);
	}

	.service-menu__dash:last-child::after{
	    top: 50%;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    margin-top: -1px;
	}

	.service-menu__dash:last-child::before{
	    top: 0;
	    left: 50%;
	    width: 2px;
	    height: 100%;
	    margin-left: -1px;
	}

	.minus .service-menu__dash:last-child::after{
	    transform: rotate(180deg);
	}

	.minus .service-menu__dash:last-child::before{
	    transform: rotate(270deg);
	}

	/*.a-tan {
	    color: #fff;
	}*/

	.body-service-fu .service-block-header {
	    margin-top: 107px;
	}

	.page-news-fun .team-menu-mobile .active a, .page-team-fun .team-menu-mobile .active a{
	    font-size: 28px;
	}

	.page-news-fun .team-article-preview__date {
	    font-size: 18px !important;
	    bottom: -3%;
	}

	.page-team-fun .team-block-header, .page-news .team-block-header {
	    margin-top: 107px;
	}

	.main_page .envoke-order-btn {
	    padding: 12px 20px 9px;
	}

	.footer-other-page a {
        color: #000;
    }

	.footer-other-page .copyright__license {
        color: tan;
    }

    .footer-other-page .social__tel:before, .footer-other-page .social__insta:before {
        content: none;
    }

    .footer-other-page .social__tel:after {
	    background-image: url(../img/social/tel.svg) ;
	}

	.footer-other-page .social__insta:after {
	    background-image: url(../img/social/insta.svg) ;
	}

	.footer-other-page  .copyright {
        margin: 11px 0 25px 0;
    }

    .body-service-fu .footer-other-page .copyright {
    	margin-bottom: 0;
    }

    .body-service-fu .footer-other-page .social {
	    margin: 0px 0 0 50%;
	}

	.body-service-fu .service-menu {
	    height: calc(100vh - 320.48px);
	    margin-top: 0px;
	}

	.body-service-fu .footer-other-page .copyright {
	    left: 0;
	}

	.page-team .block-header, .page-news .block-header {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: initial;
	}

	.page-team .team-block-header, .page-news .team-block-header{
	    line-height: .9;
	}

	.other-page-info .button9 {
		margin: 10px 0 35px 50vw;
	}

	.body-service-fu  .service-block-header {
		padding-bottom: 25px;
	}
	
}
@media screen and (max-width: 768px) {
	.page-team-fun, .page-news {
		height: 100vh;
	}

	.section-main p:last-of-type, .section-main h6:last-of-type {
	    margin: 0 0 0px 0;

	}


	.page-team-fun .team-block-header, .page-news .team-block-header {
	    margin-top: 114px;
	}

	.menu-popup .nav__elem {
		font-size: 24px;
		width: 250px;
		height: 67px;
		padding-top: 22px;
		padding-right: 28px;
		padding-bottom: 11px;
		padding-left: 28px;
	}

	.service-nav-menu__text {
	    right: 0 !important;
	}

	.other-page-info .envoke-order-btn{
    	padding: 12px 20px 9px;
	}


	.page-news-fun.page-team .one-third-block {
   		float: left;
	}

	.page-team .one-third-block {
   		float: left;
	}

	.page-news .team-block-header {
	    width: 100%;
	}

	.page-service-fu .service-content tr td:last-child span:last-child {
	    display: initial;
	}

	.pageserv-html {
		overflow: hidden;
	}

	.page-service-fu .service-content-wrapper {
		width: 100%;
	}

	.page-service-fu .service-menu__subheader {
	    padding-left: 14px;
	    padding-right: 14px;
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	}

	.slider-style .article-preview__tag {
	    height: 34px;
	    width: 170px;
	    font-size: 16px;
	    line-height: 34px;
	}

	.page-other .slider-style .article-preview__tag {
	    line-height: 35px;
	}

	.section-alike__block-header .block-header__elem:nth-child(2) {
	    padding-left: 0;
	    z-index: 3;
	}

	.service-block-header {
	    font-size: 50px;
	}

	.page-service-fu .service-menu {
	    padding-top: 0px;
	}

	.page-news-fun .team-article-preview__date {
	    bottom: 0%;
	}

	.page-news .team-article-preview__h {
	    font-size: 47px !important;
	}

	.hover_info__title {
	    font-size: 35px;
	}

	.page-team .hover_info__btn.nav__elem {
	    letter-spacing: 1.2px;
	   
	}

	.page-other .slider-style .article-preview__tag {
	    height: 40px;
	    width: 210px;
	    font-size: 24px;
	}

	.page-news .article-preview__tag {
	    height: 34.8px;
	    width: 200px;
	    line-height: 31px !important;
	    font-size: 21px;
	}

	.popup-main .bar-popup .article-preview__tag {
	    line-height: 35px !important;
	}



	.page-other .section-main .nav__elem {
	    width: 190px;
	    height: 45px;
	}

	.page-other .footer-other-page{
    	padding-top: 1px;
    }

    .mobile-title {
	    padding-bottom: 0px;
	}
}
@media only screen and (max-width: 480px) {
	.footer-other-page .social__insta, .footer-other-page .social__tel {
        width: 40px;
        height: 40px;
    }

    .section-main__vid {
	    margin: 20px 0;
	}

    .menu-popup .menu-popup__elem {
		font-size: 36px;
	}

    .page-team-fun .team-block-header, .page-news .team-block-header {
    margin-top: 98px;
}

	.body-service-fu .service-block-header {
	    margin-top: 96px;
	}

    .about .group.warm .danger {
	    font-size: 16px;
	}

    .menu-popup .nav__elem {
	    font-size: 18px;
	    width: 190px;
   		height: 44px;
   		padding-top: 13px;
	}
	
	.about .group_text label {
	    top: 78px;
	}

	.nav-menu__text {
	    padding-top: 0px !important;
	}

	.service-block-header {
	    padding-bottom: 19px;
	}

	.page-service-fu .service-menu__subheader {
	    padding-left: 14px;
	    padding-right: 14px;
	    display: -webkit-flex;
	    display: -moz-flex;
	    display: -ms-flex;
	    display: -o-flex;
	    display: flex;
	}

	.about-main-screen {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.about-thanks {
	    padding-top: 0px;
	    transform: translateY(-50%);
	}

	.index-sliding-fr__h-w {
		max-width: 100%;
		height: auto;
		padding-bottom: 20px;
	}

	.index-sliding-fr__text{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}

	.slider-style .article-preview__tag {
	    height: 25px;
	    width: 127px;
	    font-size: 16px;
	    line-height: 25px;
	}

	.page-news-fun .team-article-preview__date {
	    font-size: 14px !important;
	}

	.page-news-fun.page-team h1 {
	    margin-top: 98px;
	}

	.page-news .team-article-preview__h {
	    font-size: 37px !important;
	}

	.page-news-fun .team-menu .article-preview__h {
	    font-size: 35px !important;
	}

	.page-other .slider-style .article-preview__tag {
	    height: 25px;
	    width: 147px;
	    font-size: 15px;
	}

	.page-news .article-preview__tag {
	    height: 24px;
	    width: 170px;
	    line-height: 22px !important;
  	    font-size: 15px;
	}

	.index-slider {
	    top: 48vh;
	}

	.index-slider-counter {
	    top: calc(60vh + 85px);
	}

	.body-service-fu .footer-other-page {
		margin-bottom: 15px;
	}

	.body-service-fu .footer-other-page .social__insta, .body-service-fu .footer-other-page .social__tel {
	    width: 40px;
	    height: 40px;
	}

	.body-service-fu .footer-other-page .social {
	    height: 40px;
	}

	.body-service-fu .service-menu {
	    height: calc(100vh - 260.48px);
	    margin-bottom: 12px;
	}

	.pageserv-html {
	    overflow: auto;
	}

	.body-service-fu .service-menu {
	    height: auto;
	}

	.body-service-fu .service-menu {
	    max-height: none;
	}

	.map .nav__elem {
	    display: block;
	    width: 190px;
	    height: 44px;
	    line-height: 21px;
	    font-size: 18px;
	    position: absolute;
	    /*bottom: 6.5%;*/
	}

	.block-header-big, .main-frame1 .block-header, .main-frame2 .block-header {
	    margin-top: 255px;
	}

	.page-other .slider-style .article-preview__tag {
	    line-height: 25px;
	}

	.popup-main .service-menu {
	    overflow: initial;
	}

	
}
@media only screen and (max-width: 375px) {
	
	.about-btn .nav__elem {

	    line-height: 46px;
	}


	.index-sliding-fr__text {
	    max-width: 90%;
	}

	.index-sliding-fr__h-w {
	    top: 18vh;
	}

	.nav-menu__text {
	    font-size: 20px;
	}

	.service-block-header {
	    font-size: 42px;
	}


	.mobile-title {
	    padding-bottom: 0px;
	}

	.map .nav__elem {
	    bottom: 28px;
	}

	.page-news .team-article-preview__h {
	    font-size: 24px !important;
	}

	.page-news .article-preview__tag {
	    height: 25px;
	    width: 170px;
	    line-height: 24px !important;
	    font-size: 14px;
	}

	.copyright {
	    margin: 15px 0 25px 0;
	}

	.page-other .slider-style .article-preview__tag {
	    width: 127px;
	    font-size: 14px;
	    line-height: 24px;
	}

	.about-tab {
	    line-height: 39px;
	}
}
@media only screen and (max-width: 374px) {
	.about-main-screen {
	    display: block;
	}
} 
@media only screen and (max-width: 360px) {
    .mobile-title {
        padding-bottom: 0px;
    }

    .map .nav__elem {
	    line-height: 21px;
	}

    .mobile-title h1 {
	    margin-bottom: 5%;
	}

	.about-main-screen h2 {
	    margin-top: 4%;
	}

	.about-tab {
	    height: 40px;
	    line-height: 39px;
	}

	.map .nav__elem {
        bottom: 8px;
    }
}




.ymaps-2-1-69-map-copyrights-promo, .ymaps-2-1-69-zoom {
	display: none !important;
}

.page-team-fun .footer-other-page, .page-news-fun .footer-other-page {
    z-index: 5;
}

/*BTN*/
.page-other .sim-button {
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}



.other-page-info .button9 {
	margin: 0 0 80px 59.76%;
}


.btn-big {
	width: 250px;
	height: 67px;

}



.btn-small {
	width: 250px;
	max-width: 250px;
	height: 54px;
}

.button9 {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;	
	text-decoration: none;
	background-color: #d2ab66;
    padding: 0;
    margin: 0 auto;
	font-family: 'Lato-Light';
	letter-spacing: 2.2px;
    text-transform: uppercase;
    border: none;
    font-size: 24px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 2.4px;
    text-align: center;
    color: #ffffff;
}

.button9 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}

.button9 span, .nav__elem.envoke-order-btn span{
	z-index: 2;	
	display: block;
	position: relative;
	width: 100%;
	padding-top: 0px;
}

.body-service-fu .button9 span{
    padding-top: 2px;
}

.btn-small span {
	padding-top: 0;
}

.button9::before, .nav__elem.envoke-order-btn::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	z-index: 1;	
	background-color: #be9753;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.button9:hover::before, .nav__elem.envoke-order-btn:hover::before{
	width: 100%;
}

.page-other .sim-button span {
	line-height: normal;
	padding-top: 5px !important ;
}

.btn-big span {
	padding-top: 4px;
}

.hover_info .concMastBtn span {
	padding-top: 2px;
}

@media screen and (max-width: 1600px) {
	.button9 {
		font-size: 18px !important;
	}

	.page-other .section-main .nav__elem {
	    width: 190px;
	    font-size: 18px !important;
	    height: 44px;
	}

	.btn-big, .btn-small {
		width: 190px;
		max-width: 190px;
		height: 44px;
	}

	.page-other .sim-button span {
	    padding-top: 4px !important;
	}
}

@media screen and (max-width: 1366px) {
	.page-other .sim-button span {
	    padding-top: 4px !important;
	}
}
@media screen and (max-width: 1023px) {
	.button9:hover::before, .nav__elem.envoke-order-btn::before{
		content: none;
	}




}
@media screen and (max-width: 768px) {
	.btn-small {
		font-size: 24px !important;
		width: 250px;
		max-width: 250px;
		height: 54px;
		line-height: 54px;
	} 

	

	.page-about-fu .btn-big, .btn-small {
	    padding-top: 0px;
	}

	.service-block-header {
	    margin-top: 90px;
	}

	.page-other .section-main .nav__elem {
	    width: 190px;
	    height: 44px;
	    font-size: 18px;
	    line-height: 27px;
	}

	.hover_info .concMastBtn span {
	    padding-top: 0px;
	}

	.page-other .sim-button span {
		padding-top: 0 !important;
	}

	.btn-big span {
	    padding-top: 2px;
	}




}
@media screen and (max-width: 480px) {
	.btn-small {
		font-size: 18px !important;
		width: 190px;
		max-width: 190px;
		height: 44px;
		line-height: 44px;
	}

	.about .group.warm .danger {
	    padding-right: 0px;
	}

	.about .group.warm .danger {
	    font-size: 15px;
	    right: 0px;
	}


    .btn-big span {
        padding-top: 3px;
    }


}

/*test servis*/
@media screen and (max-width: 1023px) {
	.main {
	    height: auto;
	}

	.map {
		min-height: 600px;
	}

	.page-about-fu .footer-other-page {
	    margin-top: 0px;
	}

	.body-service-fu .service-menu {
	    height: 100%;
	}



	.page-service-fu .service-menu {
		overflow: initial;
		max-height: initial;
	}

	.body-service-fu {
		overflow-y: initial;
	}

	.body-service.body-service-fu {
		height: 100vh;
	}
}


/*teast about*/
@media screen and (max-width: 480px) {
	.address-main {
		margin-bottom: 0px;
	}



	.about-btn {
		height: 45px;
	}

	.about-main-screen {
		margin-bottom: 2px;
	}
    .mobile-title {
    padding-bottom: 0px;
}

.about .group_text {
    margin-top: 75px;
    margin-bottom: 24px;
}

	.btn-big span {
		padding-top: 0px !important;
	}

	.page-about-fu .popup-main .btn-big span {
	    padding-bottom: 1px !important;
	}

	.menu-popup .nav__elem {
	    padding-top: 12px !important;
	}

	.map .nav__elem {
	    padding: 12px 28px !important;
	}




	.map {
		min-height: 533px;
		height: 533px;
	}

	.about-main-screen {
		height: 520px;
	}

	.about-main-screen {
	    display: block;
	}




	.about textarea {
		height: 170px;
	}
	.about .group_text label {
		top: 169px;
	}
	.about .group_text svg {
		height: 35% !important;
	}

	.about .group_text label {
		top: 183px;
	}
}

@media screen and (max-width: 375px) {
	.page-about-fu .footer-other-page .copyright {
	    left: 0px;
	}


	.about-main-screen {
		display: block;
	}

	.about .group_text label {
	    top: 146px;
	}

	.social {
	    margin: 13px 0 0 50%;
	}
	.footer-other-page .copyright {
	    margin: 5px 0 25px 0;
	}
	.mobile-title {
	    padding-bottom: 0px;
	}

	.page-about-fu .footer-other-page {
	    height: 135px;
	}

	.footer-other-page .copyright {
	    margin: 3px 0 25px 0;
	}

	.about-btn {
	    margin-top: 18px;
	}


	.about textarea {
	    height: 130px;
	}

    .block-header-big, .main-frame1 .block-header, .main-frame2 .block-header {
	    font-size: 30px;
	    bottom: 150px;
	}

	.about-main-screen {
	    height: 480px;
	}

	.about-thanks {
	    transform: translateY(100%);
	}

	.page-about-fu .popup-main .btn-big span {
	    padding-top: 2px;
	}

	
	
}

@media screen and (max-width: 320px) {
	.page-team h1 span {
	    font-size: 35px;
	}
	.page-news .page-team h1 span {
		    font-size: 35px;
		}
	.page-team-fun .team-block-header, .page-news .team-block-header {
	    margin-top: 89px;
	}

	.block-header-big, .main-frame1 .block-header, .main-frame2 .block-header {
	    font-size: 30px;
    	bottom: 150px;
	}

	.about .group.warm .dnager-text {
	    font-size: 13px;
	}

	.about .group.warm .danger {
	    font-size: 15px; 
	}

	.about .group_text {
        margin-top: 68px;
    }

    .index-slider-counter {
	    top: calc(56vh + 85px);
	}
	.main_page .wrapper, .main_page {
	    min-height: 100%;
	}

	.about-main-screen {
	    height: 450px;
	}

	.about .group_text {
	    margin-top: 61px;
	}

	.map .nav__elem {
	    bottom: 21px;
	}

}











