.one-third-block-third .team-article-preview{
	height: 80%;
	margin-top: 0;
}
.service-content-wrapper .one-third-block-second .team-article-preview,
.one-third-block-second a:first-child .team-article-preview{
	/*height: 70vh;*/
	height: 80%;
	margin-top: 0;
}

.one-third-block-second>a::before{
	content: '';
	/*position: static;*/
	display: block;
	height: 20%;
}

.team-one-third-block>a{
	height: 90vh;
    height: calc(100vh - 150px);
    display: block;
}