.block-header {
	position: relative;
	z-index: 11;
}

.article-preview__tag-2 {
    background-color: #fff;
    color: #d2ab66;
}

.nav-menu__text {
    color: #000;
}

/* Btn reverv. hover  */
span.nav__elem:after {
    content: "";
    display: none;
}

.team-content-item-order-btn {
    position: absolute;
    bottom: 1.8vw;
    left: 50%;
    transform: translate(-50%);
    font-size: 26px;
    padding-top: 19px;
    padding-bottom: 17px;
}


@media only screen and (max-width:1023px) {
	.block-header {
		position: relative;
		z-index: -1;
	}

	.team-content-item-order-btn {
		position: absolute;
	}

	/*Logo*/
	.logo {
		display: block;
	}

	.logo-white {
		display: none;
	}

	.team-menu-mobile {
	    margin-bottom: 30px;
	    width: 50%;
	    margin-left: 25%;
	}

	.team-menu-mobile .owl-stage-outer{
		overflow: visible;
	}

	.desktop-chosen{
		color: #dedede;
		font-size: 100%;
	}

	.team-menu-mobile .active a{
		color: #d2ab66;
		font-size: 24px;
	}

	.article-preview__tag {
		font-size: 16px;
		height: 32px;
    	line-height: 29px;
    	width: 170px;
	}

	.team-menu>div {
	    width: auto;
	    overflow: hidden;
	}
}


@media only screen and (max-width:950px) {
	.team-content-item-order-btn {
		position: absolute;
	}
}

@media only screen and (max-width:763px) {
	.one-third-block-second a:first-child .team-article-preview {
	    margin-top: 18px;
	}

	.team-menu-mobile {
	    margin-bottom: 0;
	}


}

@media only screen and (max-width:560px) {
	.article-preview__tag {
		font-size: 14px;
	}

	.team-content-item-order-btn {
		position: absolute;
	}

	.team-block-header {
	    margin: 76px 0 0 0;
	}
	
	.team-article-preview .article-preview__tag {
	    padding: 0;
	    width: 127px;
	    margin-left: 200vw;
	}

	.logo {
	    margin-top: 17px;
	}
}



/*Reser slider*/
@media only screen and (max-width:1023px) {

	body {
	    position: relative;
	    overflow: auto;
        overflow-x: hidden;
	    height: auto;
	}
	.service-menu .team-menu {
		overflow: auto;
	}
	.team-menu {
		height: auto;
		overflow: auto;
	}
	.team-one-third-block {
	    height: auto;
	}
	.team-one-third-block {
	    height: auto;
	}
	.team-content-wrapper {
	    position: static;
	    top: 257px;
	    margin-bottom: 0;
	    height: auto;
	    overflow: auto;
	}
	.service-menu {
	    max-height: 100%;
	}
} 




/**/

/**/
.body-info:after {
    content: none;
}

.page-team .owl-carousel.owl-loaded {
	display: none;
}
/*
.page-team .service-content-wrapper {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex !important;
}*/




.page-team .one-third-block {
	width: 100%;
}

.page-team .one-third-block-second {
	margin-top: 70px;
}

.slick-list {
	overflow: inherit;
}

.slick-vertical .slick-slide {
    border: none;
}

.item-news {
    height: 820px;
    width: 100%;
    margin-bottom: 120px;
}

.page-team .article-preview {
	height: 100%;
}

.page-team .one-third-block-third.team-one-third-block .team-article-preview__h, .article-preview__h {
    bottom: 140px;
    font-size: 46px;
}



.service-content-wrapper .one-third-block-second .team-article-preview, .one-third-block-second a:first-child .team-article-preview {
    /* height: 70vh; */
    height: 100%;
}

.item-news {
    height: 760px;
   width: 100%;
    margin-bottom: 146px;
}



.one-third-block {
    float: left;
    width: 50% !important;
}







@media only screen and (max-width : 1600px) {
    .article-preview__tag {      
        font-size: 18px;
        line-height: 25px;
    }
/*
    .page-team .one-third-block-second {
        margin-top: 29px;
    }
*/

    .one-third-block .item-news {
        height: 550px;
    }

    .article-preview {
        background-position: center;
    }

    .article-preview__tag {
        height: 25.8px;
        width: 170px;
        font-size: 16px;
    }

    .team-content-item-order-btn {
        font-size: 23px;
    }

    .page-team .nav__elem {
        letter-spacing: 1.2px;
       padding: 10px 25px 10px 24px;
    }

    .hover_info__text {
        font-size: 14px;
        line-height: 1.7;
    }

    .hover_info {
        padding: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 14%;
        padding-left: 14%;
    }

    .page-team .item a {
        margin: 0 auto;
    }

    .hover_info__btn {
        max-width: 200px;
    }
}



/*slide*/
@media only screen and (max-width : 1400px) {
    .team-content-wrapper {
        top: 120px;
    }
    .item-news {
        height: 562px;
        width: 100%;
        margin-bottom: 120px;
    }

    .page-team .one-third-block-third.team-one-third-block .team-article-preview__h, .article-preview__h {
        bottom: 130px;
        font-size: 44px;
    }

    .team-article-preview__date {
        bottom: 15%;
    }

    .team-content-item-order-btn {
        font-size: 20px;
    }


}
@media only screen and (max-width : 1280px) {
    
}
@media only screen and (max-width : 1200px) {
    .page-team .one-third-block-second {
        margin-top: 35px;
    }

    .item-news {
        height: 520px;
        margin-bottom: 46px;
    }

    .body-service-news {
        overflow-y: hidden;
    }

    .page-team .one-third-block-third.team-one-third-block .team-article-preview__h, .article-preview__h {
        bottom: 120px;
        font-size: 39px;
    }

    .team-content-item-order-btn {
        font-size: 23px;
    }

    .page-team .nav__elem {
        letter-spacing: 1.2px;
        padding: 10px 25px 10px 24px;
    }

    .team-content-item-order-btn {
        font-size: 18px;
    }

    .hover_info__btn {
        max-width: 170px;
    }

    
}
@media only screen and (max-width : 1150px) {
    .page-team .service-menu__dash {
        top: 9px;
        left: -35px;
        width: 24px;
    }
}

@media only screen and (max-width : 1024px) {
    .team-slider {
        top: 400px;
    }

    .body-service-news {
        overflow-y: auto;
    }

}
@media only screen and (max-width : 1023px) {
    .header-control {
        display: block;
    }

    .service-nav-menu__text {
        top: 37px;
    }
    .page-team .owl-carousel.owl-loaded.team-menu-mobile {
        display: block;
    }

    .desktop-opened{
        display: none !important;
    }
        
    .desktop-opacity{
        display: block !important;
    }

    .owl-carousel.owl-loaded {
        display: block;
    }

    .team-menu {
        margin-top: 27px;
    }

    
    .page-team .one-third-block-third.team-one-third-block .team-article-preview__h, .article-preview__h {
        bottom: 15%;
    }

    .page-team .team-article-preview__date {
        margin-bottom: 50px;
    }

    .page-team h1 {
        margin: 0 auto;
        text-align: center;
        margin-top: 77px;
    }

    .page-team h1 span {
        float: none;
        font-size: 70px;
    }

     .news-block-header {
        width: 100%;
    }

    .header-news .logo {
        display: block;
    }

    .header-news .nav-menu__text {
        color: #000;
    }

    .service-content-wrapper {
        /*overflow: initial;*/
        max-height: initial;
        overflow-x: hidden;
        /*display: block !important;*/
    }

    .one-third-block {
        overflow: initial;
    }

    .page-team .one-third-block-second {
        margin-top: 0;
    }

    .one-third-block-second a:first-child .team-article-preview:first-child {
        margin-top: 0 !important;
    }

    .item-news {
        height: 696px;
        margin-bottom: 0;
    }

    .team-article-preview .article-preview__tag {
        width: 150px;
    }

    .article-preview__tag {
        font-size: 16px;
        height: 30px;
        line-height: 27px;
    }

    .body-service-news{
        height: 100vh;
    }

    .page-team .team-content-wrapper {
        top: 320px;
        height: calc(100vh - 257px);
    }

    .page-team h1 span {
        font-size: 60px;
    }

    .page-team .team-block-header {
        line-height: .7;
    }

    .page-team .team-menu {
        margin-top: 8px;
    }

    .team-menu-mobile {
        margin-bottom: 9px;
        width: 50%;
        margin-left: 25%;
    }

    .article-preview__tag {
        height: 35.8px;
        width: 200px;
        font-size: 18px;
    }

    .team-content-item-order-btn {
        font-size: 24px;
    }

    .team-content-item-order-btn {
        font-size: 20px;
    }

    .team-content-item-order-btn {
        padding: 10px 15px;
        bottom: 20px;
    }

    .team-article-preview__h {
        font-size: 35px !important;
    }

    .team-article-preview__date {
        font-size: 18px !important;
        bottom: 6%;
    }

    .page-team .one-third-block-third.team-one-third-block .team-article-preview__h, .article-preview__h {
        bottom: 22%;
    }

    .article-preview__tag {
        height: 25.8px;
        font-size: 16px;
        line-height: 26px;
    }






}

@media only screen and (max-width :768px) {
    .one-third-block {
        float: none;
        width: 100% !important;
    }

    .page-team .team-menu {
        margin-top: 6px;
    }

    .service-nav-menu__text {
        top: 33px;
    }

    .team-article-preview {
        width: 100% !important;
    }

     .page-team .service-content-wrapper {
        height: auto;
    }

    .one-third-block .item-news {
        height: 750px;
    }

    .team-article-preview__h {
        font-size: 50px !important;
    }

    .team-content-item-order-btn {
        padding: 13px 24px;
    }

    .page-team .one-third-block-third.team-one-third-block .team-article-preview__h, .article-preview__h {
        bottom: 18%;
    }

    .page-team .team-block-header {
        line-height: 1;
    }

/*
    .page-team .service-content-wrapper {
        display: block !important;
    }*/

    .page-team .article-preview__h {
        font-size: 6vw;
    }

    .page-team .article-preview__date {
        font-size: 4vw;
    }

    .page-team .item a {
        display: block;
        margin: 0 auto;
    }

    .page-team .article-preview__tag {
        margin-top: 7px;
        line-height: 23px;
    }

    .team-article-preview .article-preview__tag {
        width: 180px;
    }

    .team-article-preview .article-preview__tag:first-child {
        margin-top: 15px;
    }

    .hover_info {
        padding: 100px 50px;
    }

    .item-news {
        height: 650px;
    }

    .page-team .team-article-preview {
        height: 100% !important;
    }

    .team-content-item-order-btn {
        font-size: 24px;
    }

   .hover_info {
        padding: 0;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 8%;
        padding-left: 8%;
    }

    .hover_info__title {
        font-size: 26px;
    }

    .hover_info__text {
        font-size: 18px;
    }

    .page-team .nav__elem {
        padding: 14px 41px 12px 41px;
    }


    .hover_info__btn {
        max-width: 250px;
        font-size: 24px;
    }

    .page-team .hover_info__btn.nav__elem {
        padding: 13px 25px 13px 24px;
    }





}

@media only screen and (max-width :680px) {
    .page-team .article-preview {
        width: 100%;
    }

    

    .article-preview__date {
        font-size: 20px;
    }

    .page-team .service-content-wrapper {
        width: 100%;
    }

    .body-service-news{
        height: 100vh;
    }

    

    .article-preview__h {
        font-size: 40px;
    }
}

@media only screen and (max-width : 480px) {
    .page-team h1 span {
        float: none;
        font-size: 42px;
        display: block;
    }

    .page-team .team-block-header{
        line-height: .5;
    }

    .nav-menu__text {
        font-size: 24px;
    }
        .service-nav-menu__text {
        top: 33px;
    }

    .page-team .article-preview {
        width: 100%;
    }


    .team-article-preview .article-preview__tag {
        width: 127px;
    }

    .article-preview__tag {
        font-size: 14px;
        height: 25px;
        line-height: 23px;
    }

    .page-team .owl-item.active a {
        font-size: 21px;
    }

    .page.page-team .team-content-wrapper {
       top: 227px;
    }

    .item-news {
        height: 500px;
    }

    .page-team .team-menu {
        margin-top: 0px;
    }

    .page-team .article-preview__h {
        font-size: 24px;
    }

    .page-team .team-article-preview__date {
            margin-bottom: 50px;
    }

    .one-third-block .item-news {
        height: 480px;
    }

    .team-article-preview__h {
        font-size: 24px !important;
    }

    .team-article-preview__date {
        font-size: 14px !important;
        bottom: 6%;
    }

    .team-content-item-order-btn {
        font-size: 18px;
        padding: 11px 31px;
    }

    .article-preview__h {
        bottom: 22%;
    }

    /**/
    .hover_info__title {
        font-size: 21px;
    }

    .hover_info__text {
        font-size: 14px;
    }

    .page-team .item a {
        display: block;
        margin: 0 auto;
    }

    .hover_info__btn {
        max-width: 162px;
        font-size: 18px;
    }

    .page-team .nav__elem {
        letter-spacing: 1.2px;
        padding: 12px 27px 11px 27px;
    }

    .page-team .hover_info__btn.nav__elem {
        padding: 13px 20px 9px;
    }

    
}

@media only screen and (max-width : 375px) {
    .nav-menu__text {
        font-size: 20px;
    }
}

@media only screen and (max-width : 320px) {
    .hover_info {
        padding: 20px 10px;
    }
}