

/*My*/


.service-content-wrapper {
    width: 100% !important;
}

.bender-white-1 {
background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../../img/team/Team-Black/konotop_0001.JPG');

}

.bender-white-2 {
background-image:  linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../../img/team/Team-Black/konotop_0009.JPG');
}

.bender-white-3 {
background-image:  url('../../img/team/Team-Black/konotop_0045.JPG');
}

.bender-white-4 {
background-image:  url('../../img/team/Team-Black/konotop_0082.JPG');
}

.bender-white-5 {
background-image:  url('../../img/team/Team-Black/konotop_0110.JPG');
}

.bender-white-6 {
background-image:  url('../../img/team/Team-Black/konotop_0252.JPG');
}

.bender-white-7 {
background-image:  url('../../img/team/Team-Black/konotop_0259.JPG');
}

.bender-white-8 {
background-image:  url('../../img/team/Team-Black/konotop_0287.JPG');
}

.bender-white-9 {
background-image:  url('../../img/team/Team-Black/konotop_0315.JPG');
}

.bender-white-10 {
background-image:  url('../../img/team/Team-Black/konotop_0371.JPG');
}



.bender-white-11 {
background-image:  url('../../img/team/Team-Black/konotop_1048.JPG');
}

.bender-white-12 {
background-image:  url('../../img/team/Team-Black/konotop_1020.JPG');
}

.bender-white-13 {
background-image:  url('../../img/team/Team-Black/konotop_1006.JPG');
}

.bender-white-14 {
background-image:  url('../../img/team/Team-Black/konotop_0950.JPG');
}

.bender-white-15 {
background-image:  url('../../img/team/Team-Black/konotop_0915.JPG');
}

.bender-white-16 {
background-image:  url('../../img/team/Team-Black/konotop_0908.JPG');
}

.bender-white-17 {
background-image:  url('../../img/team/Team-Black/konotop_0833.JPG');
}

.bender-white-18 {
background-image:  url('../../img/team/Team-Black/konotop_0826.JPG');
}

.bender-white-19 {
background-image:  url('../../img/team/Team-Black/konotop_0777.JPG');
}

.bender-white-20 {
background-image:  url('../../img/team/Team-Black/konotop_0756.JPG');
}



.bender-white-21 {
background-image:  url('../../img/team/Team-Black/konotop_0721.JPG');
}

.bender-white-22 {
background-image:  url('../../img/team/Team-Black/konotop_0651.JPG');
}

.bender-white-23 {
background-image:  url('../../img/team/Team-Black/konotop_0637.JPG');
}

.bender-white-24 {
background-image:  url('../../img/team/Team-Black/konotop_0630.JPG');
}

.bender-white-25 {
background-image:  url('../../img/team/Team-Black/konotop_0574.JPG');
}

.bender-white-26 {
background-image:  url('../../img/team/Team-Black/konotop_0567.JPG');
}

.bender-white-27 {
background-image:  url('../../img/team/Team-Black/konotop_0553.JPG');
}

.bender-white-28 {
background-image:  url('../../img/team/Team-Black/konotop_0532.JPG');
}

.bender-white-29 {
background-image:  url('../../img/team/Team-Black/konotop_0483.JPG');
}

.bender-white-30 {
background-image:  url('../../img/team/Team-Black/konotop_0476.JPG');
}
