

/*My*/

.service-content-wrapper {
    width: 100%;
}

.service-content-wrapper,{
    width: 100% !important;
}



.bender-white-1 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url('../../img/team/Team-White/konotop_0060.JPG');
}

.bender-white-2 {
background-image:  linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url('../../img/team/Team-White/konotop_0074.JPG');
}

.bender-white-3 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0123.JPG');
}

.bender-white-4 {
background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url('../../img/team/Team-White/konotop_0144.JPG');
}

.bender-white-5 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0165.JPG');
}

.bender-white-6 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0123.JPG');
}

.bender-white-7 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0277.JPG');
}

.bender-white-8 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0305.JPG');
}

.bender-white-9 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0333.JPG');
}

.bender-white-10 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0340.JPG');
}



.bender-white-11 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0354.JPG');
}

.bender-white-12 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0389.JPG');
}

.bender-white-13 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0438.JPG');
}

.bender-white-14 {
background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url('../../img/team/Team-White/konotop_0459.JPG');
}

.bender-white-15 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0494.JPG');
}

.bender-white-16 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0508.JPG');
}

.bender-white-17 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0543.JPG');
}

.bender-white-18 {
background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0550.JPG');
}

.bender-white-19 {
background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0613.JPG');
}

.bender-white-20 {
background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url('../../img/team/Team-White/konotop_0683.JPG');
}



.bender-white-21 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0704.JPG');
}

.bender-white-22 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0766.JPG');
}

.bender-white-23 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0857.JPG');
}

.bender-white-24 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0864.JPG');
}

.bender-white-25 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0894.JPG');
}

.bender-white-26 {
background-image:  linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0937.JPG');
}

.bender-white-27 {
background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)),url('../../img/team/Team-White/konotop_0977.JPG');
}

.bender-white-28 {
background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url('../../img/team/Team-White/konotop_0982.JPG');
}

.bender-white-29 {
background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url('../../img/team/Team-White/konotop_1071.JPG');
}

.bender-white-30 {
background-image: linear-gradient(rgba(0, 0, 0, .05), rgba(0, 0, 0, .05)), url('../../img/team/Team-White/konotop_1074.JPG');
}



