/*My =====*/

.index-slider-counter-num__is {
    margin-right: -2px;
}

.nav-menu__text {
    color: #fff;
}

.nav-menu .mobile-only {
    padding-right: 14px;
}

/*header*/
.nav__black:hover {
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 1);
}

/*Header logo hover*/
.header__logo-link {
    position: relative;
    z-index: 10;
}

.header__logo-link::after {
    content: "";
    position: absolute;
    width: 80%;
    left: 0;
    width: 96%;
    height: 2px;
    background-color: #d2ab66;
    /*bottom: 25px;*/
    bottom: -10px;
    transform: scaleX(0);
    transform-origin: calc(100% + 10px) 0;
    transition: transform .35s ease-out;
    z-index: -8;
}

.header__logo-link:hover::after {
    transform: scaleX(1);
    transform-origin: -10px 0;
}

.logo-white {
    float: left;
    width: 180px;
    height: 105.48px;
    /*display: none;*/
}


/*hover slider btn*/
.index-slider__prev:hover {
    transform: scale(1.3,-1.3)
}

.index-slider__next:hover {
    transform: scale(1.3,1.3) ;
}


/*Title main screen*/
.index-sliding-fr__h-mobile {
    display: none;
}


/*Foter*/
.footer-mobile {
    display: none;
    position: absolute;
    bottom: 0;
}

.social__insta, .social__tel{
    transition: all .4s ease;
}

.social__insta:hover, .social__tel:hover{
    transition: all .3s ease;
}

.menu-popup__btn .envoke-order-btn::after {
    content: "";
    display: none;
}

.copyright a {
    transition: all .4s ease;
}

.copyright a:hover {
    transition: all .4s ease;
}



/**/
