@media only screen and (max-width : 1700px) {
    .screen h2 {
        width: 90%;
        font-size: 70px;
    }

    .screen-service p {
        width: 90%;
        font-size: 30px;
    }

    .screen-service  h2 {
        font-size: 49px;
    }

    .title-main h2 {
        font-size: 70px;
        width: 500px;
    }

    .title-main .title-change {
        width: 100%;
    }

    [data-title="6"] h2 {
        width: 100%;
    }

    .title-main p {
        font-size: 34px;
    }

    /*servic*/
    .popup-main .service-menu__subheader {
        width: 100%;
        margin: 0 auto;
        max-width: 100%;
    }

    /*calender*/
    .popup-main .owl-item {
        font-size: 30px;
    }

    .popup-main .owl-item.active {
        font-size: 50px !important;
        line-height: 50px;
    }

    .popup-main .owl-carousel {
        margin-bottom: 60px;
    }

    .popup-main .owl-nav {
        margin-top: 20px;
    }

    .popup-main .owl-item.active {
        font-size: 54px !important;
    }

    /**/
    .popup-main .group_text {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .popup-main .group input, .popup-main textarea, select {
        font-size: 20px;
    }

    .popup-main .group label {
        font-size: 20px;
    }

    .popup-main textarea:focus ~ label, .popup-main textarea:valid ~ label {
        top:7px;
        left: 5px;
      font-size:10px;
      color:#d2ab66;
    }

    .popup-main input:focus ~ label, .popup-main input:valid ~ label {
        top:6px;
        left: 5px;
      font-size:10px;
    }

    select {
        font-size: 20px;
        padding: 4px 10px 2px 0px;
    }

    .popup-main .group_text label {
        top: 123px;
    }

    .group-remember span {
        font-size: 16px;
    }

    .popup-main .group.warm .danger, .group-agreement.warm .danger {
        width: 17px;
        height: 17px;
        font-size: 15px;
        line-height: 19px;
    }

    .popup-main .group.warm .dnager-text {
        font-size: 15px;
    }





    
}

@media only screen and (max-width : 1400px) {
    /*calender*/
    .datepicker-here {
        padding-bottom: 80px;
    }

    .popup-main .owl-carousel {
        margin-bottom: 60px;
    }

    .popup-main .owl-nav {
        margin-top: 20px;
    }
    /*title*/
    .bar-title {
        width: 30%;
    }

    .bar-popup {
        width: 45%;
    }

    .title-main p {
        font-size: 29px;
    }

    /*time*/

    .part-day a {
        height: 44px;
        font-size: 18px;
        margin: 0 auto;
        width: 200px;
    }

    .part-day h3 {
        height: 50.2px;
        font-size: 50px;
        margin-bottom: 20px;
    }



    /*servis*/
    .popup-main .service-menu__subheader {

        max-width: 100%;
    }

    /*form*/
    .group_text {
        margin-top: 5vw;
    }

    .popup-main .group_text {
        margin-top: 5vw;
    }

    /*thenks*/
    .wrap-thanks h2 {
      font-size: 60px;
    }

    .wrap-thanks p {
      font-size: 30px;
      padding-right: 5%;
      padding-left: 5%;
    }

    /*title-2*/
    .title-main .title-change {
        width: 100%;
    }

    .title-main h2 {
        font-size: 55px;
    }
    
    .popup-main .cancel{
        width: 20px;
        height: 20px;
    }
    
    /*prev*/
    .popup-main .prev-txt {
        font-size: 20px;
    }

    .popup-main .prev-abbout {
        height: 20px;
        width: 20px;
    }

    .popup-main .prev-dash {
        width: 43px;
        margin-right: 13px;
    }

    .popup-main .bnt-prev {
        top: 55px;
        left: 18px;
    }
    
    /*cencel*/
    .popup-main .cancel {
      top: 55px;
      right: 70px;
    }
}

@media only screen and (max-width : 1359px) {
    .part-day h3 {
        font-size: 60px;
    }

    .title-main h2 {
        font-size: 46px;
    }

    .title-main .title-change {
        width: 100%;
    }

    [data-title="6"] h2 {
        width: 100%;
    }

    [data-title="6"] p {
        width: 100%;
        font-size: 27px;
    }

    .popup-main .owl-carousel {
        margin-bottom: 80px;
    }

    

    

    
}

@media only screen and (max-width : 1280px) {
    .part-day h3 {
        font-size: 54px;
    }

    [data-title="6"] p {
        font-size: 25px;
    }

    .part-day a {
        width: 190px;
    }

    .popup-main .owl-carousel {
        margin-bottom: 50px;
    }

    
}

@media only screen and (max-width : 1200px) {
    /*servic*/
    .popup-main .service-menu__subheader p {
        font-size: 19px;
    }

    .popup-main .service-menu__subheader {
        margin: 0 auto;
        width: 90%;
        max-width: 100%;
    }

    .popup-main .service-content-item {
        margin: 0 4%;
    }

    .popup-main .service-content {
        margin: 0 auto;
        width: 90%;
    }

    .popup-main .service-menu {
        height: 90%;
    }

    .popup-main .change-service {
        width: 100%;
        height: 100%;
    }



    /*title*/
    .screen h2 {
        font-size: 40px;
    }

    .title-main h2 {
        font-size: 48px;
    }
}

@media only screen and (max-width : 1024px) {
    .popup-main .form-wrap {
        justify-content: center;
    }

    .datepicker-here {
        justify-content: center;
    }

    .datepicker-here {
        padding-bottom: 21px;
    }

    .bnt-prev.active-pop-wrap:hover {
      transform: initial;
    }

    .popup-main .cancel:hover {
      transform: initial;
    }

    .popup-main .group_text {
        margin-top: 0vw;
    }
}


@media only screen and (max-width : 1023px) {
    html.popUp, body.popUp{
        /*overflow: visible !important;*/
        height: auto;
    }

    .popup-main.active-pop-wrap {
        overflow-y: scroll;
        position: fixed;
        top: 0;
        bottom: 0;

    }
    .popup-main {
        flex-direction: column;
        min-height: 100%;
        height: auto;
        background-color: #fff;
    }

    .bar-popup {
        flex: 1;
    }

    .popup-main .change-pop-up.change-service  {
        flex: 1;
        height: auto;
        min-height: 100%;
    }

    .popup-main path{
        fill: #000;
    }

    /*title*/

    .active-title {
      display: none;
    }


    .screen-wrap {
        margin-top: 120px;
    }

    .bar-title, .bar-popup {
        width: 100%;
    }

    .bar-title {
        height: 260px;
    }

    .wrap-title {
        height: 100%;
    }


    /*service*/
    .popup-main .change-service, .popup-main .service-content, .popup-main .service-content tr td:last-child span {
        background-color: #fff ;
    }

    .popup-main .change-service .btn-reserv:hover, .popup-main .change-service .btn-reserv:hover span{
      background-color: transparent !important;
    }

   

    .popup-main .service-menu {
       padding-top: 0;
    }

    /*master*/
    .change-master {
        height: auto;
        overflow: hidden;
    }

    .change-master a .article-preview {
        width: 100% !important;
    }

    .change-master a {
        background-position: top;
    }

    .article-preview__h {
        bottom: 177px;
    }

    .team-article-preview__date {
        bottom: 0px;
    }

    .change-master a {
        height: 882px;
        display: block;
    }

    .change-master a:hover {
      transform: inherit;
    }


    /*time*/

    .part-day .btn-reserv:hover {
      background-color: inherit;
    }
    .change-time {
        align-self: flex-start;
        margin-top: 32px;
    }

    .part-day h3 {
        width: 90%;
        height: auto;
        font-size: 40px;
    }

    .part-day a {
        width: 190px;
        height: 44px;
        font-size: 18px;
    }

    .part-day-evening {
        margin-bottom: 10px;
    }

    /*form*/
   .popup-main form {
        margin-bottom: 0;
        margin-top: 0;
    }

    .popup-main .form-wrap {
        width: 60%;
        margin: 0 auto;
        justify-content: flex-start;
    }

    .popup-main .contact-info {
        width: 100%;
        background-color: #fff;
    }

    /**/
    .popup-main .group label {
        font-size: 18px;
    }

    select {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .popup-main textarea {
        height: 70px;
    }

    .popup-main .group_text label {
        top: 67px;
    }

    .popup-main .popup-send {
        margin-bottom: 10px;
    }

    .group-agreement span {
        font-size: 14px;
    }

    

    /*thenks*/
    .small-screen {
      display: none;
    }

    .wrap-thanks {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 78;
    }

    .full-screen {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        background: #fff;
        width: 100%;
    }


    .full-screen h2, .full-screen p{
      display: block;
    }

    .full-screen p {
       padding-right: 10%;
       padding-left: 10%;
    }

    /*calender*/
    .popup-main .owl-carousel {
        margin-top: 20px;
        margin-bottom: 70px;
    }

    .datepicker {
        width: 70%;
    }

    .datepicker--cell-day:hover {
      color: inherit;
    }

    .datepicker-here {
        padding-bottom: 0px;
        padding-top: 50px;
        justify-content: flex-start;
    }


    /*prev*/
    .popup-main .prev-txt {
      font-size: 18px;
    }

    .popup-main .prev-dash {
        width: 42px;
    }

    .popup-main .bnt-prev {
        top: 45px;
        left: 18px;
    }

    .popup-main .prev-abbout {
      height: 20px;
      width: 20px;
    }

    /*btn hover*/
    .button--rayen::before {
        content: none;
    }

    /*cancel*/
    path {
      fill: black;
    }

    .popup-main .cancel {
        top: 45px;
        right: 5%;
    }
    .nav-menu__text{
        padding-right: calc(10px + 2vw);
        padding-top: 6px;
        display: inline-block;
    }
    .popup-main .service-menu__subheader{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .popUp .main-frame2, .popUp .main-frame1, .popUp .main-frame{
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    /*resirv*/
    .popup-main .service-content tr td:first-child div {
        display: none;
    }

    .nav-menu__text{
        padding-top: 0;
    }

    .popup-main .service-content {
        width: 90%;
        max-height: 450px ;
    }

   .popup-main .service-menu {
        height: auto;
    }

    .popup-main tr {
        display: flex !important;
        margin-bottom: 15px !important;
    }

    .popup-main .service-content tr td:last-child span:first-child {
        display: inline-block !important;
    }

    .popup-main .service-content tr td:first-child {
        width: 50%;
        padding-right: 0 !important;
    }

    .popup-main .service-content tr td:last-child {
        border-top: solid 1px #d2ab66!important;
        border-bottom: solid 1px #d2ab66!important;
        border-right: solid 1px #d2ab66!important;
        position: static;
        width: 50%;
    }

    
    .popup-main .service-menu__subheader {
        width: 90%;
    }

    .popup-main .service-content tr td:first-child {
        border-left: solid 1px #d2ab66;
        border-right: none;
    }


   .popup-main .service-menu__subheader {
        min-height: 70px;
    }


    /*time*/
    .change-time {
        align-self: flex-start;
        margin-top: 32px;
    }
    .part-day {
        margin-bottom: 30px;
    }

    .part-day:last-child {
        margin-bottom: 0px;
    }

    .part-day .btn-reserv {
        margin-bottom: 10px;
    }

    /*=========form======*/
    .popup-main .about-btn {
        margin-bottom: 10px;
    }
    


    /*cancel*/
    .popup-main .cancel {
        top: 45px;
        right: 40px;
        height: 17px;
        width: 17px;
    }



}



@media only screen and (max-width : 700px) {
    /*CALENDER*/
    .popup-main .owl-stage-outer {
        margin-left: 0;
    }

    .popup-main .change-master a {
	    height: 782px;
	}

	.popup-main .team-article-preview__date {
	    margin-bottom: 38px;
	}

	.popup-main .article-preview__h {
	    bottom: 100px;
	}


}


@media only screen and (max-width : 480px) {

    /*title*/
    .wrap-title {
        width: 80%;
        margin: 0 auto;
    }

    .title-main h2 {
	    font-size: 42px;
	    line-height: 1.12;
	}

    .screen h2 {
        width: 100%;
        font-size: 42px;
    }

    .bar-title {
        height: 213px;
    }

    .screen-wrap {
        margin-top: 98px;
    }

    .title-main .title-change {
        margin-top: 20px;
    }

    /*service*/
    .popup-main .service-menu__subheader {
        width: 90%;
        max-width: 100%;
        padding: 10px 0px 10px 10px;
        display: flex;
        align-items: center;
    }

    .popup-main .service-menu__subheader p {
        font-size: 18px;
    }

    .popup-main .service-content tr td:first-child {
        padding-right: 0;
    }

    .popup-main .service-content {
        width: 100%;
    }

   .popup-main .service-menu {
        padding-top: 10px;
        height: 100%;
    }

    .popup-main .service-content, .service-content tr td:last-child span {
        background-color: transparent;
    }

   .popup-main .toggle-box {
        padding: 0px 15px 0px 15px;
    }

    .popup-main .service-content tr td:last-child span:first-child {
        height: auto;
        display: block !important;
        position: relative;
    }


    /*master*/
    .popup-main .team-article-preview .article-preview__tag {
        width: 127px;
    }

    .popup-main .article-preview__tag {
        height: 25px;
        width: 127px;
        line-height: 25px;
        font-size: 14px;
    }

    .popup-main .change-master {
        height: 100%;
        overflow: inherit;
    }

    .popup-main .change-master a .article-preview {
        width: 100vw !important;
    }

    .popup-main .change-master a {
        height: 520px;
        display: block;
    }

    .popup-main .team-article-preview__date {
        margin-bottom: 52px;
    }

    .popup-main.article-preview__h {
        bottom: 87px;
    }

    /*time*/
    .change-time {
        align-self: flex-start;
        margin-top: 32px;
    }

    .part-day h3 {
        font-size: 36px;
    }

    .part-day a {
        width: 124px;
        height: 28px;
        font-size: 14px;
    }


    /*form*/
    .popup-main form {
        margin-top: 0;
    }

    .popup-main .group.group_text {
        margin-top: 0;
    }

    .popup-main .group.group_tel .input {
        margin-bottom: 0;
    }

   .popup-main .form-wrap {
        width: 85%;
    }

    .popup-main .datepicker-here {
        padding-bottom: 0;
    }

    .popup-main .contact-info {
        width: 100%;
        margin-top: -31px;
    }


    .popup-main .nav__elem {
        font-size: 18px;
    }

    .popup-main form .nav__elem {
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .popup-main .envoke-order-btn {
        padding: 10px 18px 7px;
    }

    
   
   /**/
   .popup-main .group.group_name {
        margin-bottom: 0px;
    }

    .popup-main .group input{
        padding: 4px 10px 11px 5px;
    }

    .group-remember span {
        font-size: 12px;
    }

    .popup-main .group textarea{
        margin-bottom: 5px;
    }

    .group-agreement a {
        font-size: 14px;
    }

    .popup-main .group-remember {
        padding-top: 0px;
    }

    .popup-main .group_text {
        margin-bottom: 20px;
    }

    .popup-main form .nav__elem {
        font-size: 18px;
    }

    .title-main .title-change {
        margin-top: 17px;
    }

    .popup-main textarea {
        height: 110px;
    }

    .popup-main .group_text label {
        top: 106px;
    }



    .popup-main .prev-txt {
        font-size: 18px;
        letter-spacing: 1.8px;
    }



    


    /*thanks*/
    .wrap-thanks h2 {
        font-size: 40px;
    }

    .full-screen p {
        font-size: 24px;
    }

    /*calender*/
    .datepicker {
        width: 90%;
    }

    .datepicker-here {
        padding-top: 0px;
    }


    .datepicker--content {
        height: auto;
    }

    .datepicker-here {
        justify-content: flex-start;
    }



    .popup-main .owl-carousel {
        margin-top: 40px;
        margin-bottom: 44px;
    }

    .popup-main .owl-prev:after {
        top: 7px;
        right: -30px;
        width: 22px;
        height: 1px;
    }

    .popup-main .owl-prev:before, .owl-next:before  {
        width: 16px;
        height: 16px;
    }

    .popup-main .owl-nav {
        width: 85px;
    }

    .popup-main .owl-carousel .owl-nav.disabled {
        padding-right: 10px;
    }

    .popup-main .datepicker--day-name {
        font-size: 15px !important;
    }

    .datepicker--cell-day {
        font-size: 17px;
        font-weight: normal;
        padding-top: 15px;
        padding-bottom: 11px;
    }

    .popup-main .owl-theme .owl-nav {
        margin-top: 4px;
    }

    .popup-main .owl-item {
        font-size: 30px;
    }

    .popup-main .owl-item.active {
         font-size: 40px !important;
          line-height: 50px;
    }

    .popup-main .owl-next:before {
        width: 16px;
    }


    /*prev*/
    .popup-main .prev-dash {
        width: 22px;
        height: 1px;
        margin-right: 11px;
    }

    .popup-main .bnt-prev {
        top: 32px;
        left: 18px;
    }



    .popup-main .prev-abbout {
      height: 14px;
      width: 14px;
    }

    /*cencel*/
    .popup-main .cancel {
        top: 34px;
        right: 20px;
    }
}

@media only screen and (max-width: 378px){ 
    .popup-main .owl-carousel {
        margin-bottom: 30px;
    }

    .popup-main form {
        margin-top: -14px;
    }

    .popup-main form .nav__elem {
        margin-bottom: 19px;
        line-height: inherit;
    }

    select {
        margin-bottom: 47px;
    }
    .popup-main .about-btn {
        margin-bottom: 0px;
    }

    .part-day h3 {
	    margin-bottom: 37px;
	}



	select {
	    margin-bottom: 39px;
	}
}

@media screen and (max-width: 340px) {
    .popup-main .owl-item.active{
        font-size: 30px !important;
    }
}