html {
	height: 100%;
}

body {
	height: 100%;
	min-width: 320px;
	overflow-x: hidden;
	overflow-y: auto;
}

.body-info:before {
    content: none;
}
/*
.ymaps-layers-pane {
    -webkit-filter: grayscale(0%);
    -webkit-filter: hue-rotate(180deg);
    -webkit-filter: sepia(100%);
    -webkit-filter: blur(2px);
    -webkit-filter: brightness(30%) sepia(100%);
    -webkit-filter: contrast(50%);
    -webkit-filter: invert(100%);
    -webkit-filter: saturate(30%);
}
*/

.ymaps-map, #map  {
	height: 100% !important;
	width: 100% !important;
}
#map {

}
.mobile-title {
	display: none;
}

.main {
	height: 100%;
	width: 100%;
}

.about-main-screen {
	width: 33.33%;
	display: flex;
    flex-direction: column;
    align-items: center;
    align-content: inherit;
    justify-content: flex-end;
}

.address-main {
	margin-bottom: 10%;
	flex: 3;
}

.inner {
	display: flex;
	position: relative;
	height: inherit;
	width: 100%;
}

.map {
	width: 66.66%;
	overflow: hidden;
	position: relative;
	height: 100%;
}

.map .nav__elem {
	position: absolute;
	bottom: 10%;
	padding: 0;
	left: 0;
	width: 190px;
	height: 44px;
	line-height: 44px;
	font-size: 20px;
	display: none;
}

.map.active{
	display: block;
	width: 100%;
	height: 100vh;
	overflow-y: hidden;
}

iframe {
	width: 100%;
	height: 99%;
}


/*=================================Style====================*/
/*style txt*/
.about-main-screen h2 {
	font-size: 36px;
	font-family: 'PlayfairDisplay-Bold';
	font-weight: bold;
	line-height: 1.17;
  	letter-spacing: normal;
  	text-align: center;
  	width: 358px;
	height: 99px;
	margin: 0 auto;
}

.about-main-screen p {
	font-size: 20px;
	text-align: center;
	font-family: 'Lato-Regular';
	line-height: 1.2;
 	letter-spacing: 1.4px;
}

.info-text {
	margin-top: 16px;
	margin-bottom: 40px;
}

.phone-all {
	margin-top: 20px;
	margin-bottom: 20px;
}

.address {
	margin-top: 16px;
}

.about-btn {
	margin: 0 auto;
	font-size: 24px;
	width: 250px;
	height: 67px;
	overflow: hidden;
}

.about-btn .nav__elem  {
	width: 100%;
	height: 67px;
	line-height: 67px;
	padding: 0;
	margin: 0 auto;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: 300;
  	font-style: normal;
}

.about-btn .button--rayen::before {
    padding: 0;
}

.title {
	width: 702px;
	margin-bottom: 17px;
}

.title h1 {
    position: relative;
    left: -26%;
    font-size: 130px;
    font-family: "PlayfairDisplay-Bold";
    line-height: 1;
    user-select: none;
}

.title-2 {
	width: 702px;
	margin-bottom: 17px;
	top: 15vh;
}

.title-2 h1 {
    position: relative;
    left: -26%;
    font-size: 130px;
    font-family: "PlayfairDisplay-Bold";
    line-height: 1;
    user-select: none;
}

/*Tab link*/
.mobile-title {
	padding-top: 77px;
	padding-bottom: 16px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
}

.about-tab {
	width: 117px;
	height: 42px;
	display: inline-block;
	text-decoration: none;
	border: 1px solid black;
	transition: 0.2s;	
	background-color: transparent;
	font-size: 18px;
	line-height: 41px;
	letter-spacing: 1.8px;	color: #0e0e0e;
	font-family: "Lato-Regular";
	text-align: center;
}

.about-mobile-tab a:nth-of-type(1){
    margin-right: 15px;
}

.about-tab.active {
	color: #d2ab66;
	border: 1px solid #d2ab66;
}

.mobile-title h1 {
	font-size: 55px;
	font-family: "PlayfairDisplay-Bold";
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.08;
	letter-spacing: normal;
	text-align: left;
	color: #0e0e0e;
	text-transform: uppercase;
	margin-bottom: 3%;
	text-align: center;
}


/*==================Form*/
.form.active {
	display: block;
}

form {
	width: 100%;
	position: relative;
}

.form {
    display: none;
    max-width: 639px;
    padding-left: 86px;
    padding-right: 86px;
	align-items: flex-end;
	flex: 3;
    align-items: center;
}

.group {
	position: relative;
	width: 100%;
}

.group_text {
	margin-top: 226px;
}

input, textarea {
	font-size:24px;
	padding:10px 10px 10px 5px;
	margin-bottom: 50px;
	display:block;
	width:100%;
	color:#d2ab66;
	border:none;
	border-bottom: 1px solid #d2ab66;
	background: transparent;
}

.about textarea {
	border: none;
	border-bottom: 1px solid #d2ab66;
	height: 100px;
}

.about label {
	font-size:24px;
	font-weight:normal;
	position:absolute;
	z-index: 1;
	left:5px;
	top:20px;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
	font-family: Arial;
	color:#d2ab66;
	pointer-events:none;
}

.about .group_text label {
	top: 68px;
}

.about textarea:focus ~ label, .about textarea:valid ~ label {
	top:-10px;
	font-size:14px;
	color:#d2ab66;
}
  
.about input:focus ~ label, .about input:valid ~ label {
	top:-15px;
	font-size:14px;
	color:#d2ab66;
}

.about .danger {
	opacity: 0;
	position: absolute;
}

input[type="submit"] {
	cursor: pointer;
}

.about .group.warm .danger {
	transition: opacity .5s ease;
	position: absolute;
	opacity: 1;
	width: 20px;
	height: 20px;
	right: 0;
	bottom: 7px;
	background-color: #e86464;
	color: #fff;
	border-radius: 50%;
	font-size: 17px;
	display: block;
	line-height: 21px;
	text-align: center;
}

.about .group.warm input, .group.warm textarea {
	border-bottom: 1px solid #e86464;
}

.about .group.warm label {
	color: #e86464;
}

.about .form .about-btn{
	display: flex;
    justify-content: center;
}

.about .dnager-text {
	display: none;
}

.about .group.warm  .dnager-text {
    position: absolute;
    width: 150px;
    right: 0;
    padding-top: 5px;
    bottom: -25px;
    color: #e86464;
    font-size: 17px;
	display: block;
	text-align: right;
}


/*prev*/
/**/
.bnt-prev-n {
	opacity: 0;
	position: absolute;
    z-index: 150;
    right: 6%;
    top: 30%;
    height: 17px;
    width: 17px;
    background: url(../../img/cancel.png) no-repeat center center / 100%;
    cursor: pointer;
}

.bnt-prev-n-2 {
    opacity: 0;
    position: absolute;
    z-index: 150;
    right: -99%;
    bottom: 0%;
    height: 17px;
    width: 17px;
    background: url(../../img/cancel.png) no-repeat center center / 100%;
    cursor: pointer;
}



/**/
.about-bnt-prev {
	position: absolute;
	z-index: 150;
    right: 0;
    top: -6%;
    height: 17px;
    width: 17px;
    background: url(../../img/cancel.png) no-repeat center center / 100%;
    cursor: pointer;
}

/*thenks*/
.about-thanks  {
	width: 100%;
	flex: 1;
	padding-left: 86px;
 	padding-right: 86px;
	padding-bottom: 0px;	
	padding-top: 120px;
    display: flex;
    justify-content: flex-start;
    position: relative;
	flex-direction: column;
	display: none;
}

.about-thanks h3 {
	font-size: 90px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
	text-align: center;
}

.about-thanks p {
	font-size: 50px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
}

.about-thanks .about-bnt-prev {
    right: 20%;
    top: -14%;
}

.about-thanks .bnt-prev {
	background: url(../../img/cancel.png) no-repeat center center / cover;
	position: absolute;
	top: 0;
	right: 150px;
	height: 20px;
	width: 20px;
	cursor: pointer;
}

.about-main-screen {
	height: 100% !important;

}

/*======*/
.title-2 {
    flex: 1;
    padding-top: 20%;
}

.about-thanks {
	position: relative;
    z-index: 20000000;
    flex: 2;
    padding-top: 0;
}

/*VISIBILITY CONTROL*/
.class-show {
	display: block;
}

.class-hide {
	display: none !important;
}

.class-show-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.class-mobile-title {
	display: none;
}

/*VISIBILITY TAB*/
.class-tab-show {
	display: block;
}

.class-tab-hide {
	display: none !important;
}

.class-show-btn {
	display: block;
	opacity: 1;
	transition: opacity .5s ease;
}

.class-show-btn-2 {
	display: block;
	opacity: 1;
	transition: opacity .5s ease;
}