body {
	height: 100%;
}

#about {
	height: 100vh;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;

}



.nav-menu__text {
    color: #000;
}

.map {
	background-color: pink;
	max-width: 1280px;
	flex: 1;
}

.wrapp {
	width: 639px;
}

.form {
	max-width: 639px;
	flex: 1;
	padding-left: 86px;
 	padding-right: 86px;
 	padding-bottom: 70px;	
 	height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    display: none;
    justify-content: center;
}




form {
	max-width: 639px;
}

.group {
	position: relative;
	width: 100%;
}

.group_text {
	margin-top: 236px;
}


input 				{
  font-size:24px;
  padding:10px 10px 10px 0px;
  margin-bottom: 35px;
  display:block;
  width:100%;
  color:#d2ab66;
  border:none;
  border-bottom: 1px solid #d2ab66;
}

input:focus 		{ outline:none; }

label 				 {
  font-size:24px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:20px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  font-family: Arial;
  color:#d2ab66;
}



.highlight {
  position:absolute;
  height:4px; 
  width:100%; 
  bottom: 0;
  left:0;
  pointer-events:none;
  opacity:0.5;
}


input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#d2ab66;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter .5s ease;
}


.danger {
    position: absolute;
    right: 0;
    bottom: 7px;
    padding: 1px 6px;
    background-color: #e86464;
    color: #fff;
    border-radius: 50%;
    font-family: Arial;
    text-shadow: 0 0 black;
    font-size: 15px;
    display: none;
}

/* ANIMATIONS ================ */

@keyframes inputHighlighter {
	from { background:#d2ab66; }
  to 	{ width:0; background:transparent; }
}



.group__btn-send {
	font-size: 24px;
	width: 250px;
	height: 60px;
	padding: 0;
	text-align: center;
	line-height: 60px;
}



.group__btn-send::before {
    padding: 0;
}

.group_send {
	margin-top: 79px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

iframe {
	width: 100%;
	height: 100%;
	filter: grayscale(10%) saturate(0.25);
}


/*Header*/
.about_envoke-order-btn {
	color: #fff;
	border: 1px solid;
}



/*About main screen*/


.about-box {
	max-width: 639px;
	flex: 1;
	padding-left: 86px;
 	padding-right: 86px;
 	padding-bottom: 170px;	
 	height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    position: relative;
}


.about-box h2 {
	font-size: 36px;
	font-family: PlayfairDisplay;
	font-weight: bold;
	line-height: 1.17;
  	letter-spacing: normal;
  	text-align: center;
  	width: 358px;
  	height: 99px;

}
.about-box p {
	font-size: 20px;
}

.about-box a {
	font-size: 24px;
}

.group_write-massage {
    width: 100%;
    position: absolute;
    bottom: 70px;
    left: 30%;

}

.address, .tel {
	margin-top: 20px;
	margin-bottom: 20px;
}

.title-metropole {
	margin-top: 37px;
}



.about-title {
	position: absolute;
	top: 163px;
	left: -30%;
	display: none;
}

.about-title h1 {
	font-size: 130px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.08;
	letter-spacing: normal;
	text-align: left;
	color: #0e0e0e;
	text-transform: uppercase;
}





.about-thanks  {
	max-width: 639px;
	flex: 1;
	padding-left: 86px;
 	padding-right: 86px;
 	padding-bottom: 0px;	
 	height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    flex-direction: column;
}

.about-thanks h2 {
	font-size: 90px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
}

.about-thanks p {
	font-size: 50px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: normal;
}


/*mobile title btn*/
.about-mobile-link-btn {
	width: 117px;
	display: inline-block;
	text-decoration: none;
	padding-top: 13px;
	padding-bottom: 13px;
	outline: none;
	border: 1px solid black;
	transition: 0.2s;	
	background-color: transparent;
	font-family: Lato;
	font-size: 18px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1;
	letter-spacing: 1.8px;
	text-align: center;
	color: #0e0e0e;
}

.about-mobile-link-btn.active {
	color: #d2ab66;
	border: 1px solid #d2ab66;
}

.about-mobile-link-btn-adress {
	margin-right: 16px;
}

.about-mobile-link-btn:hover { background: rgba(255,255,255,.2); }
.about-mobile-link-btn:active { background: white; }



.about-mobile h1 {
	text-transform: uppercase;
}



.about-thanks  {
	display: none;
}


.about-mobile {
	display: none;
}







@media only screen and (max-width:1023px) {
	.logo {
		display: block;
	}

	.logo-white {
		display: none;
	}
}

@media only screen and (max-width:1200px) {
	.address, .tel {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.title-metropole {
		margin-top: 17px;
	}
}

@media only screen and (max-width:1600px) {
	.about-title {
		position: absolute;
		top: 120px;
		left: -30%;
	}
}









/*Mobile*/



@media only screen and (max-width:1023px) {


	.wrapp{
		width: 450px;
	}

		.group_write-massage {
		    width: 100%;
		    position: absolute;
		    bottom: 70px;
		    left: 25%;
		}


}


@media only screen and (max-width:760px) {

	.map {
		display: none;
	}

	.wrapp{
		width: 100%;
	}


	.about-box {
		max-width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

		.group_write-massage {
		    width: 100%;
		    position: absolute;
		    bottom: 70px;
		    left: 50%;
		    margin-left: -125px;
		}

	.about-mobile {
		display: block;
	}


	/*Mobile map*/

	




}

@media only screen and (max-width:760px) {
	.group_write-massage {
	    bottom: 25px;
	}

	.about-box {
		/*
	    padding-bottom: 126px;*/
	    padding-top: 400px;
	}

	.tel p,.time-work p,.address p {
		font-size: 16px;
	}

	.time-work {
		margin-top: 12px;
	}

	.about-box-wrapper h2 {
		font-size: 34px;
	}
	
	.about-box h2 {
	    height: auto;
	}

	.group__btn-send {
	    font-size: 24px;
	    width: 250px;
	    height: 60px;
	    line-height: 60px;
	}

	.nav__elem:first-child {
	    margin-left: 0px;
	}

	.about-mobile {
		margin-bottom: 16px;
	}

	.about-mobile h1 {
		font-size: 42px;
		line-height: 1.14;
		margin-bottom: 10px;
	}

	.address, .tel {
	    margin-top: 13px;
	}

	

}

@media only screen and (max-width:460px) {
	.about-box {
	    padding-bottom: 150px;
	}

	.nav__elem:first-child {
	    margin-bottom: 20px;
	}

}


@media only screen and (max-width:460px) {
	.group_write-massage {
	    bottom: 25px;
	}

	.about-box {
	    padding-bottom: 106px;
	}

	.tel p,.time-work p,.address p {
		font-size: 14px;
	}

	.time-work {
		margin-top: 12px;
	}

	.about-box-wrapper h2 {
		font-size: 24px;
	}
	
	.about-box h2 {
	    height: auto;
	}

	.group__btn-send {
	    font-size: 18px;
	    width: 190px;
	    height: 44px;
	    line-height: 44px;
	}

	.about-mobile {
		margin-bottom: 16px;
	}

	.about-mobile h1 {
		font-size: 42px;
		line-height: 1.14;
		margin-bottom: 10px;
	}

	.address, .tel {
	    margin-top: 13px;
	}

	.nav__elem:first-child {
	    margin-left: 30px;
	}

}




@media only screen and (max-width:374px) {
	.group_write-massage {
	    bottom: 25px;
	}

	.about-box {
	    padding-bottom: 76px;
	}

	.tel p,.time-work p,.address p {
		font-size: 14px;
	}

	.time-work {
		margin-top: 9px;
	}

	.about-box-wrapper h2 {
		font-size: 20px;
		width: 200px;
		margin: 0 auto;
	}
	
	.about-box h2 {
	    height: auto;
	}

	.group__btn-send {
	    font-size: 18px;
	    width: 190px;
	    height: 44px;
	    line-height: 44px;
	}

	.about-mobile {
		margin-bottom: 6px;
	}

	.nav__elem:first-child {
	    margin-bottom: 0px;
	}

	.about-mobile h1 {
		font-size: 42px;
		line-height: 1.14;
		margin-bottom: 10px;
	}

	.address, .tel {
	    margin-top: 13px;
	}

	.nav__elem:first-child {
	    margin-left: 30px;
	}

	.about-mobile-link-btn {
		padding-top: 9px;
		padding-bottom: 9px;
	}

}




.map-mobile-open {
		display: block;
		width: 100%;
		margin-top: 196px;
	}

.map-mobile-open .about-mobile-link-map {
		position: absolute;
		top: 146px;
		left: 50%;
		width: 254px;
		margin-left: -125.2px;
}





/*

==========  Desktop First  ==========
@media only screen and (max-width : 1200px)
@media only screen and (max-width : 992px)
@media only screen and (max-width : 768px)
@media only screen and (max-width : 480px)

==========  Mobile First  ==========


@media only screen and (min-width : 320px)
@media only screen and (min-width : 480px)
@media only screen and (min-width : 768px)
@media only screen and (min-width : 992px)
@media only screen and (min-width : 1200px)


*/

