@media only screen and (max-width: 1919px) {
	.title-2 {
		z-index: 0;
		padding-top: 140px;
	}

	.title-2 h1 {
		font-size: 86px;
		left: 1%;
	}

	.bnt-prev-n {
	    top: 13%;
	}

	.about-main-screen h2 {
		font-size: 30px;
		height: 70px;
	}
	
	.about-main-screen p {
		font-size: 16px;
	}

	.about-btn {
		width: 190px;
		height: 44px;
	}
	
	.about-btn .nav__elem  {
		height: 44px;
		line-height: 44px;
		font-size: 20px;
	}

	/*thenks*/
	.about-thanks  {
		padding-left: 6px;
		padding-right: 0px;
		padding-top: 120px;
		width: 332px;
		margin: 0 auto; 
	}	

	.about-thanks .bnt-prev{
		right: 0;
		top: 0;
	}


	.about-thanks h3 {
		font-size: 60px;
	}

	.about-thanks p {
		font-size: 20px;
	}

	.about-main-screen {
		justify-content: flex-end;
	}

	.group_text {
		margin-top: 130px;
	}

	


}

@media only screen and (max-width : 1400px) {
	.wrap-main-form-thanks {
	    margin-bottom: 20px;
	}

	.about {
	    padding-left: 20px;
	    padding-right: 20px;
	}

	.bnt-prev-n {
	    top: -5%;
	}

	

	.title-2 {
		z-index: 0;
	    padding-top: 90px;
	}

	.about-thanks {
	    padding-right: 20px;
	    width: 60%;
	}

	.about-thanks .bnt-prev {
	    top: 9px;
	    right: 20px;
	}	

	
}

@media only screen and (max-width : 1280px) {
	input, textarea {
	    margin-bottom: 22px;
	}

	.title-2 {
	    z-index: 0;
	    padding-top: 100px;
	    width: 100%;
	    text-align: center;
	}

	.title-2 h1 {
	    font-size: 86px;
	    position: relative;
	    left: -43%;
	}

	.form {
	    margin-bottom: 0px;
	}



	.address-main {
	    margin-bottom: 0;
	}

	.group_text textarea {
	    margin-bottom: 40px;
	}

	.about-btn {
		margin-bottom: 20px;
	}
}

@media only screen and (max-width : 1200px) {
	.about-main-screen {
		width: 33.33%;
		text-align: center;
	}

	.title h1{
		position: relative;
		left: -50%;
	}
	
	.title {
		margin-top: 103px;
		margin-bottom: 5%;
	}

	.about-thanks {
	    padding-top: 120px;
	}

	.title-2 {
		position: static;
		flex: 1;
	}

	.title-2 h1 {
		font-size: 80px;
	}

	.about-main-screen h2 {
		font-size: 30px;
		height: 70px;
	}
	
	.about-main-screen p {
		font-size: 16px;
	}

	.about-btn {
		width: 190px;
		height: 44px;
		margin-bottom: 0px;
	}
	
	.about-btn .nav__elem  {
		height: 44px;
		line-height: 44px;
		font-size: 20px;
	}

	/*form*/
	.form {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
		padding-top: 0;
		margin-bottom: 0px;
   		align-items: center;
	}

	.about-thanks .about-bnt-prev {
		right: 15%;
    	top: -2%;
	}

	/*fix*/
	.phone-all {
	    margin-top: 10px;
	    margin-bottom: 10px;
	}

	.info-text {
	    margin-top: 12px;
	    margin-bottom: 20px;
	}

}

/*logo menu*/
@media only screen and (max-width: 1024px) { 


	.bnt-prev-n {
	    right: 13%;
	    top: 0%;
	}
	

	.desktop-only {
		display: none;
	}

	
	.mobile-only {
		display: initial;
	}
	.closed {
		opacity: 0;
		left: 100vw;
	}
	.menu-popup {
		padding-top: 12.3vh;
	}
	.menu-popup {
		position: fixed;
		height: 100vh;
		width: 100vw;
		background-color: white;
		z-index: 100;
		transition: opacity 0.3s, left 0.4s;
	}
	.logo {
		display: block;
		width: 120px;
		height: 70.32px;
	}
	.logo-white {
		display: none;
	}
	.nav-menu {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: auto;
		text-decoration: none;
		cursor: pointer;
	}
	.nav-menu__text {
		position: relative;
		color: #0e0e0e;
		font-family: 'Lato-Light';
		top: 30px;
		padding-right: 10px;
		font-size: 24px;
	}

	.form label {
		font-size: 17px;
		left: 22px;
		top: 21px;
	}

	.form .group_text label {
		font-size: 17px;
		left: 22px;
		top: 75px;
	}

	input, textarea {
		font-size: 19px;
	}

	textarea:focus ~ label, textarea:valid ~ label {
		font-size:10px;
	}
	  
	  
	input:focus ~ label, input:valid ~ label {
		font-size:10px;
	}

	.header__logo-link::after {
	    content: "";
	    display: none;
	}	

}

@media only screen and (max-width: 1024px) {
	body {
		overflow-y: auto;
	}

	.wrap-main-form-thanks {
	    width: 700px;
	    margin: 0 auto;
	    
	}

	.title-2 {
		display: none;
	}

	.inner {
		flex-direction: column;	
	}

	.map {
		width: 100%;
		flex: 2;
		height: 397px;
		overflow: inherit;
	}

	.about-main-screen {
		width: 100%;
		order: -1;
		flex: 0;
		display: block;
	}

	.title {
		display: none;
	}

	.mobile-title {
		display: block;
		order: -1;
		padding-top: 74px;
	}

	.about-mobile-tab {
		display: none;
	}

	.address-main {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 0px;
		height: 320px;
	}

	.sensation, .metropol {
		width: 50%;
	}

	.info-text {
		margin-bottom: 0px;
	}

	/*form*/
	.group_text {
		margin-top: 100px;
	}

	
	.form {
		padding-bottom: 16px;
		padding-top: 16px;
		height: 320px;	
		align-items: center;
		margin: 0 auto; 
		height: 320px;
		position: relative;
   		z-index: 1
	}

	/*thenks*/
	.about-thanks  {
		padding-top: 7%;
		height: 320px;
	}

	.about-thanks h3 {
		font-size: 80px;
	}

	.about-thanks p {
		font-size: 20px;
	}

	.about-thanks .about-bnt-prev {
		right: 15%;
    	top: -7%;
	}

	.form form {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	form .group_name, form .group_tel {
		width: 45%;
		padding-right: 2.5%;
		padding-left: 2.5%;
	}

	form .group_text {
		width: 90%;
		padding-right: 2.5%;
		padding-left: 2.5%;
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.form .about-bnt-prev {
	    right: 47px;
	    top: -10%;
	}

	.group.warm .danger {
	    width: 16px;
	    height: 16px;
	    right: 19px;
	    bottom: 60px;
	    font-size: 14px;
	    line-height: 17px;
	}

	.about .group.warm .dnager-text {
	    right: 18px;
	    bottom: 28px;
	}

	.about .group.warm .danger {
	    right: 19px;
	    bottom: 29px;
	    font-size: 15px;
	    line-height: 21px;
	}

	.about .group.warm .dnager-text {
	    right: 18px;
	    bottom: 3px;
	}

	.about .warm.group_text span.danger {
	    right: 19px;
	    bottom: 48px;
	    font-size: 15px;
	    line-height: 21px;
	}

	.about .warm.group_text .dnager-text {
		bottom: 18px;
	}

	.popup-main .form-wrap {
	    justify-content: center;
	}

}

@media only screen and (max-width : 690px) {
	
	.wrap-main-form-thanks {
	    width: 100%;
	}

	.mobile-title, .about-mobile-tab {
		display: block;
	}

	.class-show-btn {
		display: none;
	}

	.map {
		display: none;
	}

	.address-main {
		display: block;
		height: 100%;
	}

	.sensation, .metropol {
		width: 100%;
	}

	.info-text {
		margin-top: 16px;
		margin-bottom: 40px;
	}

	/*form*/
	input, textarea {
		font-size:20px;
	}

	.form label {
	    left: 4px;
	    top: 20px;
	    font-size:20px;
	}

	.about.form .group_text label {
	    left: 6px;
	}

	.about.form label {
	    left: 6px;
	}

	.about-bnt-prev {
		display: none;
	}

	.form {
		margin: 0 auto;
		height: auto;
	}

	.form form {
		display: block;
	}

	form .group_name, form .group_tel {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

	form .group_text {
		width: 100%;
		padding-right: 0;
		padding-left: 0;
	}

	form .group_text {
		margin-top: 60px;
		margin-bottom: 0px;
	}

	.form .group_text label {
	    font-size: 20px;
	}

	.form .about-bnt-prev {
	    right: 0;
	    top: -10%;
	}

	.map .nav__elem {
		display: block;
	}

	.about-btn {
	    margin-bottom: 10px;
	}

	.about .group.warm .dnager-text {
	    right: 0px;
	    bottom: -20px;
	}

	.about .group.warm .danger {
	    right: 2px;
	    bottom: 6px;
	}

	.about .group.warm.group_text span.danger {
	    right: 0px;
	    bottom: 6px;
	}

	.about.form {
		overflow-y: hidden;
	}
	
	/*thenks*/
	.about-thanks {
		padding-top: 24%;
	}

	.about-main-screen {
	    height: auto !important;
	}	
}


@media only screen and (max-width : 480px) {
	.logo {
		margin-left: 10px;
		margin-top: 10px;
		width: 90px;
		height: 52.74px;
	}

	.about-thanks {
	    width: 81%;
	}

	.about-main-screen h2 {
		font-size: 24px;
		height: 64px;
	}
	
	.about-main-screen p {
		font-size: 14px;
	}

	.info-text {
		margin-top: 10px;
		margin-bottom: 26px;
	}

	.about-btn .nav__elem  {
		font-size: 18px;
	}

	/*form*/
	.about.form {
		padding-top: 41px;
	}

	.form label {
	    left: 4px;
	    top: 20px;
	    font-size:18px;
	}

	.about  input, .about  textarea {
	    margin-bottom: 30px;
	    font-size:18px;
	}

	.about  form .group_text {
	    margin-top: 58px;
	    margin-bottom: 80px;
	}

	.about form {
	    margin-bottom: 0px;   
	}

	.about.form {
	    padding-bottom: 0px;
	}

	textarea:focus ~ label, textarea:valid ~ label {
		top:-10px;
	}

	.group.warm .dnager-text {
	    right: 7px;
	    bottom: -21px;
	}

	.group.warm .danger {
	    right: 9px;
	    bottom: 9px;
	}

	.about-btn {
	    margin-bottom: 2%;
	}

	/*thenks*/
	.about-thanks  {
		padding-top: 30%;
		margin-bottom: 5%;
	}

	.about-thanks h3 {
		font-size: 60px;
	}

	.about-thanks p {
		font-size: 16px;
	}

	.mobile-title h1 {
	    font-size: 42px;
	    margin-bottom: 7%;
	}

	.form .group_text label {
	    font-size: 18px;
	}
}

@media only screen and (max-width : 360px) {
	.about-main-screen h2 {
		font-size: 18px;
		height: auto;
		width: 90%;
	}
	
	.about-main-screen p {
		font-size: 14px;
	}

	.info-text {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	/*form*/
	.form {
		padding-top: 33px;
	}

	form .group_text {
	    margin-top: 90px;
	    margin-bottom: 20px;
	}

	.group_text {
		margin-top: 57px;
	}

	.map .nav__elem {
		width: 120px;
		height: 34px;
		line-height: 34px;
		font-size: 14px;
	}

	.about-btn .nav__elem {
	    height: 40px;
	    font-size: 17px;
	}
}